<div class="case-view">
  <div [class.hidden]="model.id" class="row module-tips">请选择用例</div>
  <div [class.hidden]="!model.id">
    <div class="form-group row">

    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" style="user-select: text;">TC-{{model.id}}</label>
      <label class="col-sm-10 col-form-label">
        {{model.name}}
      </label>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div class="tabs-container light">
          <div class="tabs">
            <ngb-tabset (tabChange)="tabChange($event)">
              <ngb-tab id="content">
                <ng-template ngbTabTitle>测试步骤</ng-template>
                <ng-template ngbTabContent></ng-template>
              </ngb-tab>
              <ngb-tab id="summary">
                <ng-template ngbTabTitle>用例信息</ng-template>
                <ng-template ngbTabContent></ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>

    <div [class.hidden]="tab != 'content'" class="tab-steps form-group row">
      <div [class.hidden]="'richText'!=model.contentType" class="col-sm-12">
          <pre style="display: inline;"
               [innerHTML]="model.content"></pre>
      </div>

      <div [class.hidden]="'steps'!=model.contentType" class="col-sm-12">
        <steps-table [settings]="settings" [source]="model.steps"></steps-table>
      </div>
    </div>

    <div [class.hidden]="tab != 'summary'" class="tab-summary">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>测试类型</span></label>
        <label class="col-sm-10 col-form-label">
          {{casePropertyMap['type'][model.type]}}
        </label>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>优先级</span></label>
        <label class="col-sm-10 col-form-label">
          {{casePropertyMap['priority'][model.priority]}}
        </label>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>耗时(分钟)</span></label>
        <label class="col-sm-10 col-form-label">
          {{model.estimate}}
        </label>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>测试目的</span></label>
        <label class="col-sm-10 col-form-label">
          {{model.objective}}
        </label>
      </div>

      <ng-container *ngIf="model.id">
        <div *ngFor="let field of fields; let i = index;" class="form-group row">
          <label class="col-sm-2 col-form-label"><span>{{field.label}}</span></label>
          <label class="col-sm-10 col-form-label">
            {{model[field]}}
          </label>
        </div>
      </ng-container>
    </div>

    <comment-list [model]="model"></comment-list>

  </div>

</div>
