<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>聆</span>客</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="搜索...">
  </div>

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'me' | baProfilePicture ) }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li [routerLink]="['/pages/profile']" class="dropdown-item">
          <a href="javascript:void(0)">
            <i class="fa fa-user"></i>{{profile.name}}</a></li>
        <li [routerLink]="['/pages/settings']" class="dropdown-item"><a href="javascript:void(0)"><i class="fa fa-cog"></i>设置</a></li>
        <li (click)="logout()" class="dropdown-item"><a href="javascript:void(0)" class="signout"><i class="fa fa-power-off"></i>登出</a></li>
      </ul>
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
</div>
