.execution {
  padding: 3px 0;

  .main {
    position: relative;
    display: flex;
    touch-callout: none;
    user-select: none;

    .suite {
      width: 300px;
    }

    .result {
      flex: 1;
    }

    .resize-handle {
      position:absolute;
      top:0;
      width: 3px;
      cursor: col-resize;
      background-color: #eeeeee;
      z-index: 99;
    }
  }
}

