:host {

  /deep/ {
    * {
      box-sizing: border-box;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      color: inherit;
      font: inherit;
      margin: 0;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      display: table;
      width: 100%;
      max-width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all;

      tr {
        th {
          text-align: center;
          font-weight: bold;
        }
        td {
          vertical-align: middle;
          line-height: 22px !important;
          text-align: center !important;
          border-bottom: 1px solid gainsboro;

          &.ng2-smart-seq-act {
            width: 50px;
            .transparent {
              color: transparent;
              cursor: default !important;
            }
          }
          &.ng2-smart-seq-numb {
            width: 50px;
          }
          &.ng2-smart-actions {
            width: 100px;
          }
          .my-cols {
            display: flex;
            .my-ordr {
              width: 50px;
            }
            .my-col {
              flex: 1;
              margin: 0 3px 0 0;
              text-align: left;
              .pre {
                white-space: pre-line;
                word-wrap: break-word;
                word-break: normal;
              }
            }
          }
        }
        section {
          font-size: .75em;
          font-weight: bold;
        }
        td, th {
          margin: 0;
          padding: 5px;
        }
      }
    }

    a {
      margin: 0 5px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .ng2-smart-actions-title-add {
      text-align: center !important;
    }
  }
}

