.dropdown-options {
  display: flex;
  height: 100%;
  flex-direction: column;

  .modal-header {

  }
  .modal-body {
    flex: 1;
    font-size: smaller;

    form {
      margin-bottom: 20px;
      input {
        margin-left: 10px;
        margin-right: 15px;
      }
      button {
        margin-left: 10px;
      }
    }
  }
  .modal-footer {
    border: none;
  }

  .modal {
    top: calc(40% - 100px);
  }
}
