.dropdown-options {
  display: flex;
  height: 100%;
  flex-direction: column;

  .modal-header {

  }
  .modal-body {
    flex: 1;
    font-size: smaller;

    h5 {
      margin: 20px 0;
    }
    form input {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .modal-footer {
    border: none;
  }

  .modal {
    top: calc(40% - 100px);
  }
}
