.dropdown-options {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 20px;

  .modal-header {

  }
  .modal-body {
    flex: 1;
    font-size: smaller;

    h5 {
      margin-top: 30px;
    }
  }
  .modal-footer {
    border: none;
  }

  .modal {
    top: calc(40% - 100px);
  }
}
