<span class="tiny-mce-popup">

    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <tiny-mce [content]="content" [height]="'350px'"
                  (editorKeyup)="onEditorKeyup($event)"></tiny-mce>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary confirm-btn" (click)="save()">确认</button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-secondary" (click)="dismiss()">取消</button>
    </div>

</span>
