.plan-edit {
  .test-sets {
    margin-bottom: 30px;
    th {
      background-color: rgba(0,0,0,.1);
      text-align: center;

      &.id {
        width: 50px;
      }
      &.opt {
        width: 250px;
      }
    }
  }
}


.case-selection {
  .modal-dialog {
    max-width: 90%;

    top: calc(40% - 100px);
  }
}
.environment-config {
  .modal-dialog {
    max-width: 90%;
    top: calc(40% - 100px);
  }
}
