{# ====== MACRO ====== #}

{% macro user_scenario_func(scenario) %}
    export function {{scenario.name}}() {
      {{scenario.codesGenerated}}
    }
{% endmacro %}

{% macro user_scenario_option(scenario) %}
    {{scenario.name}}: {
      executor: '{{scenario.executor}}',
      exec: '{{scenario.func}}',
      vus: {{scenario.vues}},
      duration: '{{scenario.duration}}s'
    },
{% endmacro %}


{# ====== CODES ====== #}

import http from "k6/http";

export const options = {
  scenarios: {
    {% for scenario in plan.scenarios %}
        {{ user_scenario_option(scenario) }}
    {% endfor %}
  },
};

export default function () {
  {% for scenario in plan.scenarios %}
      {{ user_scenario_func(scenario) }}
  {% endfor %}
}