@import './antd-variables.less';
@import './variables.less';

.ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
        height: 100%;
    }
}
.ant-btn-link {
    color: @primary-color;
}
.ant-input[disabled] {
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: @itemSelectedBackground;
}

.ant-empty.dp-empty-no-margin {
    margin: 0px !important;
    padding: 32px 0 !important;
}

.ant-table-wrapper.dp-small-table {
    th,td {
        padding: 8px;
    }
}

.ant-modal-wrap.dp-modal-confirm {
    .ant-modal {
        .ant-modal-content {
            .ant-modal-header {

            }
            .ant-modal-body {
                padding: 16px 36px 36px 36px;
            }
        }
    }
}

/** set container height to 100% */
.ant-drawer.dp-drawer-full-height {
    .ant-drawer-body {
        height: calc(100% - 55px);
        padding: 0 16px;
    }
}
.ant-card.dp-card-full-height {
    .ant-card-head {
        height: 52px;
    }
    .ant-card-body {
        height: calc(100% - 52px);
        overflow: auto;
    }
}
.ant-tabs.dp-tabs-full-height{
    height: 100%;
    .ant-tabs-bar.ant-tabs-top-bar {
        height: 48px;
        margin-bottom: 0px;
    }
    .ant-tabs-content {
        height: calc(100% - 48px);
        .ant-tabs-tabpane-active {
            height: 100%;
        }
    }
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 5px;
}
/* 滚动条两端按钮 */
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
/* 外层轨道 */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
/* 内层轨道，它会覆盖外层轨道的样式 */
::-webkit-scrollbar-track-piece {
    width: 2px;
    margin: 0 -2px 0;
}
/* 滑块 */
::-webkit-scrollbar-thumb {
    background-color: rgb(230, 233, 236);
    min-height: 60px;
    min-width: 60px;
    border-radius: 2px;
}
/* 纵向滑块悬浮 */
::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgb(230, 233, 236);
}
/* 横向滑块悬浮 */
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(230, 233, 236);
}