@import './antd-variables.less';
@import './variables.less';

.dp-scroll {
  overflow: auto;
}

.dp-relative {
  position: relative;
}

.dp-border {
  font-weight: bolder;
}

.dp-link {
  cursor: pointer;
}

.dp-primary {
  color: @primary-color;
}

.dp-link-white {
  cursor: pointer;
  color: #c0c4cc;
}

.dp-link-primary {
  cursor: pointer;
  color: @primary-color;
}
.dp-drag {
  cursor: move !important;
}

.dp-btn-group {
  padding-left: 6px;
  padding-right: 6px;
}

.dp-color-primary {
  color: @primary-color;
}

.dp-color-text {
  color: @text-color;
}

.dp-red {
  color: red;
}
.dp-color-pass {
  color: green;
}

.dp-color-fail {
  color: #dc2626;
}

.dp-center {
  text-align: center;
}

.dp-right {
  text-align: right;
}

.dp-light {
  color: @text-color-light;
}

.dp-enabled {
  color: @success-color;
}
.dp-disabled {
  color: @disabled-color;
}

.dp-btn-gap {
  margin: 0 3px;
}

.dp-bg-selected {
  background-color: @itemSelectedBackground;
}

.dp-bg-selected-light {
  background-color: @itemSelectedBackgroundLight;
}

.dp-bg-white {
  background-color: white;
}
.dp-bg-light {
  background-color: #fafafa;

  button {
    background-color: #fafafa;
  }
}

.dp-bg-input {
  background-color: #fafafa;
  border: 0;
}

.dp-bg-input-transparent {
  background-color: transparent;
  border: 0;
}

.dp-bg-button-transparent {
  background: transparent !important;

  &:active, &:hover {
    background: transparent !important;
    border-color: #d9d9d9 !important;
  }

}

.dp-dropdown {
  &.ant-dropdown-button {
    width: 100%;

    .ant-btn:first-child {
      width: 100%;
    }
  }
}

.dp-icon-btn-container {
  line-height: 32px;
}

.dp-icon-btn {
  padding: 3px 5px;
  cursor: pointer !important;
}

.dp-icon {
  &:focus {
    outline: unset !important;
  }
}
.dp-icon-large {
  font-size: 15px;
}
.dp-icon-with-text {
  display: inline-block;
  margin-right: 3px;
}

.dp-trans-80 {
  opacity: 0.6;
}

.dp-input-tip {
  padding-top: 8px;
  font-size: 13px;
}

.dp-tip-small {
  padding-top: 8px;
  font-size: 12px;
  line-height: 12px;

  .ant-tooltip-inner {
    padding: 6px 8px;
    min-height: 24px;
  }
}

.dp-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dp-table {
  .ant-btn-link {
    padding: 0px 5px;
  }
}

.ant-select.dp-no-border .ant-select-selector {
  border: 0 !important;
}

.dp-splits-v {
  display: flex;
  height: 100%;

  .left {
    height: 100%;
  }

  .right {
    height: 100%;
  }
}

.dp-res-code-dropdown {
  .menu-con {
    width: 360px;
    height: 320px;
    overflow-y: scroll;
  }
}

.dp-tree-container {
  height: 100%;
  .tree-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    .search-input {
      margin-left: 16px;
      margin-right: 8px;
    }

    .add-btn {
      margin-left: 2px;
      margin-right: 16px;
      cursor: pointer;
    }
  }

  .tree-content {
    height: calc(100% - 50px);
    overflow: auto;
    overflow-x:hidden ;
    margin: 0 8px;

    .deeptest-tree {
      .tree-title {
        position: relative;
        .tree-title-text {
          display: inline-block;
          width: calc(100% - 24px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .more-icon {
          position: absolute;
          right: -8px;
          width: 20px;
        }
      }
    }
    .nodata-tip {
      margin-top: 8px;
      margin-left: 18px;
      text-align: left;
    }
  }
}

.splitter {
  min-width: 1px;
  cursor: col-resize;

  height: 100%;
  background-color: var(--splitter-color, #d9d9d9);
  position: relative;
}

.splitter:before {
  content: ' ';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  background-color: var(--splitter-hover-color, rgba(0, 0, 0, .05));
  opacity: 0;
  z-index: 1;
}

.splitter:hover:before {
  opacity: 1;
}

.dp-splits-v > .splitter:before {
  left: calc(0px - var(--splitter-hover-size, 6px) / 2);
  right: calc(0px - var(--splitter-hover-size, 6px) / 2);
  height: 100%;
}

.dp-splits-h > .splitter:before {
  top: calc(0px - var(--splitter-hover-size, 6px) / 2);
  bottom: calc(0px - var(--splitter-hover-size, 6px) / 2);
  width: 100%;
}


.upload-file-by-electron {
  line-height: 32px;
  input {
    width: calc(100% - 46px)
  }
  .filename {
    padding: 0 10px;
  }
  .ant-btn {
    position: absolute;
    right: 0;
    z-index: 99;

    background: transparent;
    color: rgba(0, 0, 0, 0.65);
    border-color: #d9d9d9;
    &:hover, &:active {
      background: transparent;
      color: rgba(0, 0, 0, 0.65);
      border-color: #d9d9d9;
    }
  }
}

.upload-file {
  line-height: 32px;
  display: flex;
  .input-container {
    flex: 1;
  }
  .upload-container {
    width: 46px;
  }
}

.dp-full-modal {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }
  .ant-modal-body {
    flex: 1;
    .content {
      height: 100%;
    }
  }
}

.dp-param-grid {
  .head {
    font-weight: bold;
    background: #fafafa;
    border-bottom: 1px solid #d9d9d9;
    .ant-col {
      line-height: 36px;
      border-right: 1px solid #d9d9d9;
      &.title {
        padding: 0 10px;
      }
    }
  }

  .params {
    height: calc(100% - 28px);
    overflow-y: auto;

    .param {
      //padding: 2px 3px;
      border-bottom: 1px solid #d9d9d9;

      .ant-col {
        border-right: 1px solid #d9d9d9;

        input {
          margin-top: 1px;
          height: 32px;
        }

        .ant-select {
          width: 70px;
        }
      }
    }
  }
}

.editor-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  & > div {
    height: 100%;
  }
}

.dp-context-menu {
  z-index: 9;
  position: fixed;

  .ant-menu {
    border: 1px solid #dedfe1;
    background: #f0f2f5;
    .ant-menu-item.menu-item {
      padding-left: 12px !important;
      height: 22px;
      line-height: 21px;
      margin-top: 0px;
    }
  }
}

.drawer-content .ant-row.ant-form-item {
  margin-bottom: 0 !important;
}

.drawer-content .ant-tabs-bar {
  margin: 0;
}
// input自动填充色
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important; }

.create-project-modal.ant-modal .ant-modal-body {
  padding: 0;
}

.term {
  font-weight: bold;
  //font-style:italic;
}
