
.tree-context-menu {
    z-index: 9;
    .ant-tree-node-content-wrapper {
        display: block !important;
    }
    .ant-menu {
        border: 1px solid #dedfe1;
        background: #f0f2f5;
        .ant-menu-item.menu-item {
            padding-left: 12px !important;
            height: 22px;
            line-height: 21px;
            text-align: left;
            .ant-menu-title-content {
                height: 22px;
                line-height: 21px;
            }
        }
    }
}