@import './antd-variables.less';
@import './variables.less';

.dp-link {
    cursor: pointer;
}
.dp-link-white {
    cursor: pointer;
    color: #c0c4cc;
}
.dp-link-primary {
    cursor: pointer;
    color: @primary-color;
}
.dp-color-primary {
    color: @primary-color;
}
.dp-color-text {
    color: @text-color;
}
.dp-color-pass {
    color: green;
}
.dp-color-fail {
    color: #dc2626;
}
.dp-center {
    text-align: center;
}
.dp-right {
    text-align: right;
}
.dp-light {
    color: @text-color-light;
}
.dp-disabled {
    color: @disabled-color;
}
.dp-btn-gap {
    margin: 0 3px;
}
.dp-bg-white {
    background: #fff;
}
.dp-bg-selected {
    background-color: @itemSelectedBackground;
}
.dp-bg-selected-light {
    background-color: @itemSelectedBackgroundLight;
}
.dp-bg-light {
    background-color: #fafafa;
    button {
        background-color: #fafafa;
    }
}
.dp-bg-input {
    background-color: #fafafa;
    border: 0;
}
.dp-bg-input-transparent {
    background-color: transparent;
    border: 0;
}
.dp-dropdown {
    &.ant-dropdown-button {
        width: 100%;
        .ant-btn:first-child {
            width: 100%;
        }
    }
}
.dp-icon-btn-container {
    line-height: 32px;
}
.dp-icon-btn {
    padding: 3px 5px;
    cursor: pointer !important;
}
.dp-trans-80 {
    opacity: 0.6;
}

.dp-input-tip {
    padding-top: 8px;
    font-size: 13px;
}
.dp-tip-small {
    padding-top: 8px;
    font-size: 12px;
    line-height: 12px;
    .ant-tooltip-inner {
        padding: 6px 8px;
        min-height: 24px;
    }
}

.dp-table {
    td {
    }
    .ant-btn-link {
        padding: 0px 5px;
    }
}

.dp-splits-v {
    display: flex;
    height: 100%;

    .left {
        height: 100%;
    }

    .right {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .splitter {
        width: 1px;
        height: 100%;
        background-color: #e6e9ec;
        cursor: ew-resize;

        &:hover {
            width: 1px;
            background-color: #D0D7DE;
        }

        &.active {
            width: 1px;
            background-color: #a9aeb4;
        }
    }
}

.dp-full-modal {
    .ant-modal {
        max-width: 100%;
        top: 0;
        padding-bottom: 0;
        margin: 0;
    }
    .ant-modal-content {
        display: flex;
        flex-direction: column;
        height: calc(100vh);
    }
    .ant-modal-body {
        flex: 1;
    }
}

.dp-param-grid {
    .head {
        padding: 2px 3px;
        border-bottom: 1px solid #d9d9d9;
    }
    .params {
        height: calc(100% - 28px);
        overflow-y: auto;
        .param {
            padding: 2px 3px;
            border-bottom: 1px solid #d9d9d9;

            .ant-col {
                border-right: 1px solid #d9d9d9;

                input {
                    margin-top: 1px;
                }
            }
        }
    }
}

.editor-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    & > div {
        height: 100%;
    }
}