@import '~ant-design-vue/dist/antd.less';
@import './antd-variables.less';
@import './variables.less';
@import './mixin.less';

@import './antd-adjust.less';
@import './custom';

body {
  background-color: #fff;
}

.hidden {
  display: none;
}
.clear-both {
  clear: both;
}

#nprogress .bar {
  background: @primary-color !important;
}

.text-align-right {
  text-align: right;
}

// 项目样式切换样式覆盖
.dp-project-switch-container {
  width: 260px;
  height: 260px;

  .ant-dropdown-content.menu {
    position: relative;
    max-height: 260px;
    height: 300px;
    overflow: hidden;

    .menu-item {
      &:hover {
        background: transparent;
      }

      &.filter, &.footer {
        position: absolute;
        left: 0;
        height: 32px;
        width: 100%;
        z-index: 9;
        background: #ffffff;
      }

      &.filter {
        top: 0;
      }

      &.footer {
        bottom: 0;
        //border-top: 1px solid #D0D7DE;
        .ant-dropdown-menu-title-content {
          display: flex;
          justify-content: space-between;

          span {
            font-weight: 400;
            font-size: 14px;
            color: #447DFD;
          }
        }
      }

      &.menu-scroll {
        max-height: 300px;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        overflow-y: scroll;
        overflow-x: hidden;

        .ant-dropdown-menu-title-content {
          display: block;
          padding: 36px 0;
          margin-bottom: 36px;

          .menu-scroll-item {
            width: 100%;
            height: 32px;
            line-height: 32px;
            font-weight: 400;
            font-size: 14px;
            display: flex;
            align-items: center;
            .icon {
              margin-right: 6px;
              margin-left: 4px;
              display: inline-block;
            }

            .text {
              display: inline-block;
              width: 260px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; /* 在文本溢出时显示省略号 */
            }

            &.my, &.recently {
              margin-top: 4px;
              cursor: default;
              font-weight: 500;
              font-size: 14px;
              line-height: 32px;
              color: rgba(0, 0, 0, 0.85);
            }
          }
        }

      }
    }
  }
}

// 接口文档搜索 样式覆盖
.deeptest-docs-search-popover{
  .ant-popover-inner-content{
    padding: 0;
  }
  .ant-popover-arrow{
    display: none;
  }
}



.right-float-tab {
  position: fixed;
  border-radius: 6px;
  z-index: 999999;
  width: 360px;
  right: 38px;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 3px 6px -4px rgba(0, 0, 0, 0.2), 0 9px 28px 8px rgba(0, 0, 0, 0.08);
  
  .dp-bg-light {
    height: 100%;
    padding: 12px 8px 12px 12px;
  }
}

.ant-modal-root {
  .ant-modal-wrap {
    z-index: 1002;
  }
  
  .ant-modal-mask {
    z-index: 1002;
  }
}
