# ext
*.log

# file

#dir
tmp/
.idea/

/deeptest.db
/res/res.go
/res/agent.yaml
/res/server.yaml
/bin/
/xdoc/openapi/out/
/static/upload/spec/
/internal/pkg/consts/private.go
/latest_log
/static/dist/
/rbac_model.conf
/server.yaml
/upload/
/cmd/test/nodejs/node_modules/
/cmd/test/nodejs/package-lock.json
.yarn

ui/src/assets/images/local
ui/.env.ly
my-app
node_modules
client-ly/node_modules
client-ly/out
client-ly/.webpack
