<tr *ngFor="let row of grid.getRows()" (click)="userSelectRow.emit(row)" (mouseover)="rowHover.emit(row)" class="ng2-smart-row" [className]="rowClassFunction(row)" [ngClass]="{selected: row.isSelected}">

  <td class="ng2-smart-actions">
    <ng2-smart-table-cell [cell]="row.cells[0]"
                          [grid]="grid"
                          [row]="row"
                          [isNew]="false"
                          [mode]="mode"
                          [editConfirm]="editConfirm"
                          [inputClass]="editInputClass"
                          [isInEditing]="row.isInEditing">
    </ng2-smart-table-cell>

    <ng2-st-tbody-change-order [grid]="grid"
                               [row]="row"
                               [source]="source"
                               (up)="up.emit(row)"
                               (down)="down.emit(row)"
    ></ng2-st-tbody-change-order>
  </td>

  <td>
    <div class="my-cols">
      <ng-container *ngFor="let cell of row.cells">
        <ng-container *ngIf="cell.column.id != 'ordr'">
          <ng2-smart-table-cell class="my-col"
                                [cell]="cell"
                                [grid]="grid"
                                [row]="row"
                                [isNew]="false"
                                [mode]="mode"
                                [editConfirm]="editConfirm"
                                [inputClass]="editInputClass"
                                [isInEditing]="row.isInEditing">
          </ng2-smart-table-cell>
        </ng-container>
      </ng-container>
    </div>
  </td>

  <td *ngIf="!row.isInEditing && showActionColumnLeft" class="ng2-smart-actions">
    <ng2-st-tbody-custom [grid]="grid" (custom)="custom.emit($event)" [row]="row" [source]="source"></ng2-st-tbody-custom>

    <ng2-st-tbody-add-edit-delete [grid]="grid"
                                  [deleteConfirm]="deleteConfirm"
                                  [editConfirm]="editConfirm"
                                  (create)="create.emit(row)"
                                  (edit)="edit.emit(row)"
                                  (delete)="delete.emit(row)"
                                  (editRowSelect)="editRowSelect.emit($event)"
                                  [row]="row"
                                  [source]="source">
    </ng2-st-tbody-add-edit-delete>
  </td>
  <td *ngIf="row.isInEditing && showActionColumnLeft"  class="ng2-smart-actions">
    <ng2-st-tbody-create-cancel [grid]="grid" [row]="row" [editConfirm]="editConfirm"></ng2-st-tbody-create-cancel>
  </td>

</tr>

<tr *ngIf="grid.getRows().length == 0">
  <td [attr.colspan]="grid.getColumns().length + (isActionAdd || isActionEdit || isActionDelete)">
    {{ noDataMessage }}
  </td>
</tr>
