<tr *ngFor="let row of grid.getRows()">

  <td class="ng2-smart-actions">
    <ng2-smart-table-cell [cell]="row.cells[0]"
                          [grid]="grid"
                          [row]="row"
                          [isInEditing]="false">
    </ng2-smart-table-cell> <!-- 序号 -->

    <ng2-st-tbody-change-order *ngIf="!row.isInEditing"
                               [grid]="grid"
                               [row]="row"
                               [source]="source"

                               [upConfirm]="upConfirm"
                               [downConfirm]="downConfirm">
    </ng2-st-tbody-change-order> <!-- 排序按钮 -->
  </td>

  <td (click)="onEdit(row)" class="pointer">
    <div class="my-cols">
      <ng-container *ngFor="let cell of row.cells">
        <ng-container *ngIf="cell.column.id != 'ordr'">
          <ng2-smart-table-cell class="my-col" [cell]="cell"
                                               [grid]="grid"
                                               [row]="row"
                                               [isInEditing]="row.isInEditing">
          </ng2-smart-table-cell>
        </ng-container>
      </ng-container>
    </div>
  </td>

  <td *ngIf="!row.isInEditing" class="ng2-smart-actions">
    <ng2-st-tbody-add-edit-delete [grid]="grid"
                                  [row]="row"
                                  [source]="source"

                                  [createConfirm]="createConfirm"
                                  [deleteConfirm]="deleteConfirm">
    </ng2-st-tbody-add-edit-delete> <!-- 操作按钮 -->
  </td>

  <td *ngIf="row.isInEditing" class="ng2-smart-actions">
    <ng2-st-tbody-create-cancel [grid]="grid"
                                [row]="row"
                                [saveConfirm]="saveConfirm"
                                [deleteConfirm]="deleteConfirm">
    </ng2-st-tbody-create-cancel>  <!-- 保存、取消按钮 -->
  </td>

</tr>

<tr *ngIf="grid.getRows().length == 0">
  <td [attr.colspan]="4">
    暂无步骤
  </td>
</tr>
