<div class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea">
  <ul id="al-sidebar-list" class="al-sidebar-list">
    <slidebar-item *ngFor="let item of menuItems"
      [menuItem]="item"
      [selected]="item.key == currLink"
      (itemHover)="hoverItem($event)"
      (itemSelect)="selectItem($event)"
    ></slidebar-item>
  </ul>
  <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</div>
