.list-toolbar {
  display: flex;
  margin: 0 0 10px 0;
  padding: 0;
  .filter {
    flex: 1;
  }
  .buttons {
    width: 300px;
    text-align: right;
    .back {
      margin-left: 50px;
    }
  }
}
