<div class="search-select">
  <ul class="select-choices">
    <li class="select-search-choice">
      <span class="ion-close" tabindex="-1"></span>
      <span>燃灯</span>
    </li>

    <li class="select-search-field">
      <label class="select-offscreen"></label>
      <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
             class="select-input">
    </li>
  </ul>

  <div class="select-drop">
    <div class="select-results">
      <div class="select-result active">
        <div class="image">
          <span class="ion-person"></span>
        </div>
        <div class="name">
          <div>燃灯</div>
          <div>462826@qq.com</div>
        </div>
      </div>

      <div class="select-result">
        <div class="image">
          <span class="ion-person-stalker"></span>
        </div>
        <div class="name">
          <div>燃灯</div>
          <div>462826@qq.com</div>
        </div>
      </div>

    </div>

  </div>

</div>
