<tr *ngIf="grid.settings.canEdit">
  <td [attr.colspan]="4" style="border-top: 0px;">
    <a href="#" class="" (click)="onCreate($event)">
      添加步骤
    </a>
  </td>
</tr>

<tr *ngFor="let row of grid.getRows(); let i = index;"
    (mouseenter)="onHoverRow($event, row)" (mouseleave)="onOutRow($event, row)">

  <td *ngIf="grid.settings.canEdit" class="ng2-smart-seq-act">
    <ng2-st-tbody-change-order *ngIf="!row.isInEditing && row.hover"
                               [grid]="grid"
                               [row]="row"
                               [source]="source"

                               [upConfirm]="upConfirm"
                               [downConfirm]="downConfirm"

                               [isFirst]="i == 0"
                               [isLast]="i == grid.getRows().length - 1">
    </ng2-st-tbody-change-order> <!-- 排序按钮 -->
  </td>

  <td class="ng2-smart-seq-numb">
    <ng2-smart-table-cell [cell]="row.cells[0]"
                          [grid]="grid"
                          [row]="row"
                          [isInEditing]="false">
    </ng2-smart-table-cell> <!-- 序号 -->
  </td>

  <td (click)="onEdit(row)" class="pointer">
    <div class="my-cols">
      <ng-container *ngFor="let cell of row.cells">
        <ng-container *ngIf="cell.column.id != 'ordr'">
          <ng2-smart-table-cell class="my-col" [cell]="cell"
                                               [grid]="grid"
                                               [row]="row"
                                               [isInEditing]="row.isInEditing">
          </ng2-smart-table-cell>
        </ng-container>
      </ng-container>
    </div>
  </td>

  <td *ngIf="grid.settings.canEdit && !row.isInEditing" class="ng2-smart-actions">
    <ng2-st-tbody-add-edit-delete *ngIf="row.hover" [grid]="grid"
                                  [row]="row"
                                  [source]="source"

                                  [createConfirm]="createConfirm"
                                  [deleteConfirm]="deleteConfirm">
    </ng2-st-tbody-add-edit-delete> <!-- 操作按钮 -->
  </td>

  <td *ngIf="grid.settings.canEdit && row.isInEditing" class="ng2-smart-actions">
    <ng2-st-tbody-create-cancel [grid]="grid"
                                [row]="row"
                                [saveConfirm]="saveConfirm"
                                [deleteConfirm]="deleteConfirm">
    </ng2-st-tbody-create-cancel>  <!-- 保存、取消按钮 -->
  </td>

</tr>
