<div class="org-list container-fluid">
  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        组织列表
      </div>

      <div class="filter">
        <form [formGroup]="queryForm" class="form-inline">
          <label for="disabled">状态</label>
          <select [(ngModel)]="queryModel.disabled" formControlName="disabled"
                  class="form-control form-control-sm" id="disabled" name="disabled">
            <option *ngFor="let entry of (statusMap | mapToArray)" value="{{entry.key}}">{{entry.value}}</option>
          </select>
          &nbsp;&nbsp;&nbsp;
          <label for="keywords">关键字</label>
          <input [(ngModel)]="queryModel.keywords" formControlName="keywords"
                 type="search" class="form-control form-control-sm" placeholder="" id="keywords" name="keywords">
        </form>
      </div>

      <div class="buttons">
        <button (click)="create()" type="button" class="btn btn-primary btn-with-icon btn-sm">
          <i class="fa fa-plus-circle"></i>新建
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-bordered table-striped">
      <thead class="thead-inverse">
      <tr>
        <th style="width: 200px">名称</th>
        <th>网站</th>
        <th style="width: 150px">状态</th>
        <!--<th style="width: 150px">当前活动</th>-->
        <th style="width: 150px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of models">
        <td>{{ item.name }}</td>
        <th>{{ item.website }}</th>
        <td>{{statusMap[''+item.disabled]}}</td>
        <!--<td>
          <input *ngIf="!item.defaultOrg" (change)="setDefault(item)" [(ngModel)]="item.defaultOrg" type="checkbox" name="defaultOrg" #defaultOrg>
          <input *ngIf="item.defaultOrg" onclick="return false;" [(ngModel)]="item.defaultOrg" type="checkbox" name="defaultOrg" #defaultOrg>
        </td>-->
        <td>
          <span [routerLink]="['/pages/org-admin/org/edit', item.id]" class="link no-underline">编辑</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
