<div class="report-design">
  <div class="tabs-container light">
    <div class="tabs">
      <ngb-tabset  (tabChange)="tabChange($event)">
        <ngb-tab id="design-activity">
          <ng-template ngbTabTitle>执行过程</ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
        <ngb-tab id="design-progress">
          <ng-template ngbTabTitle>执行进度</ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <div class="row">

    <div *ngIf="tab == 'exe-activity'" class="design-content">
      <design-activity></design-activity>
    </div>

    <div *ngIf="tab == 'exe-progress'" class="design-content">
      <design-progress></design-progress>
    </div>

  </div>
</div>


