.case {
  .main {
    position: relative;
    touch-callout: none;
    user-select: none;

    .list {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 3px;
      width: 30%;
    }
    .detail {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 70%;
    }
    .handle {
      position:absolute;
      top:0;
      left: 30%;
      width: 3px;
      cursor: col-resize;
      background-color: #eeeeee;
      z-index: 99;
    }
  }
}
