.case {
  padding: 3px 0;

  .main {
    position: relative;
    touch-callout: none;
    user-select: none;

    .suite {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 3px;
      width: 15%;
    }

    .list {
      position: absolute;
      left: 15%;
      top: 0;
      bottom: 0;
      right: 3px;
      width: 45%;
    }

    .detail {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40%;
    }

    .handle1 {
      position:absolute;
      top:0;
      left: 15%;
      width: 3px;
      cursor: col-resize;
      background-color: #eeeeee;
      z-index: 99;
    }

    .handle2 {
      position:absolute;
      top:0;
      right: 40%;
      width: 3px;
      cursor: col-resize;
      background-color: #eeeeee;
      z-index: 99;
    }
  }
}
