<div class="project-edit container-fluid">

  <div class="row">
    <div class="edit-toolbar col-xl-12">
      <div class="title">
        <span *ngIf="!model?.id">新建项目</span><span *ngIf="model?.id">编辑项目</span><span *ngIf="model.type=='group'">组</span>
      </div>
      <div class="buttons">
        <button [routerLink]="['/pages/org/' + orgId + '/prjs']" type="button" class="btn btn-primary btn-with-icon btn-sm back">
          <i class="fa fa-arrow-circle-left"></i>返回
        </button>
      </div>
    </div>
  </div>

  <hr/>

  <div class="tabs-container">
    <div class="tabs">
      <ngb-tabset (tabChange)="tabChange($event)">
        <ngb-tab id="info">
          <ng-template ngbTabTitle>基本信息</ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
        <ngb-tab id="members">
          <ng-template ngbTabTitle>项目成员</ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <div class="tab-bottom-space"></div>

  <div [class.hidden]="tab != 'info'" class="row">
    <form [formGroup]="formInfo" (ngSubmit)="save()" class="my-validate-form">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>名称</span></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" formControlName="name"
                   [(ngModel)]="model.name" #name>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>简介</span></label>
          <div class="col-sm-10">
              <textarea type="text" class="form-control" name="descr" formControlName="descr"
                        [(ngModel)]="model.descr" #descr></textarea>
          </div>
        </div>

        <div *ngIf="model.type=='project'" class="form-group row">
          <label class="col-sm-2 col-form-label">项目组</label>
          <div class="col-sm-10">
            <select [(ngModel)]="model.parentId" formControlName="parentId" class="form-control" name="parentId">
              <option value=""></option>
              <option *ngFor="let entry of groups" value="{{entry.id}}">
                <span>{{entry.name}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="disabled" formControlName="disabled"
                       [(ngModel)]="model.disabled" #disabled>
                &nbsp;&nbsp;归档
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <button (click)="save()" type="button" class="btn btn-primary" [disabled]="!formInfo.valid">保存</button>
            &nbsp;
            <button [routerLink]="['/pages/project/list']" type="button" class="btn btn-default">取消</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="showModal()" *ngIf="model.id && !model.lastestProjectGroup" type="button" class="btn btn-danger">删除</button>
            <span *ngIf="model.lastestProjectGroup">最后一个项目组不可删除</span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <div class="validate-errors">
              <div class="validate-error" *ngFor="let msg of formErrors">
                <div>{{ msg }}</div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>

  <div [class.hidden]="tab != 'members'">
    <div class="row">
      <form [formGroup]="formAdd" class="my-validate-form form-add">

        <div class="form-group row">
          <label class="col-2 col-form-label"><span>用户名/邮箱</span></label>
          <div class="col-10">
            <search-select [(searchModel)]="searchModel" [searchResult]="entitySearchResult" [(selectedModels)]="selectedModels"
                           (searchChange)="changeSearch($event)">
            </search-select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label"><span>项目角色</span></label>
          <div class="col-10">
            <select [(ngModel)]="modelAdd.roleId" formControlName="projectRole" class="form-control" name="projectRole">
              <option *ngFor="let entry of projectRoles" value="{{entry.id}}">
                <span>{{entry.name}}</span>
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label"></label>
          <div class="col-10">
            <button (click)="add($event)" [disabled]="selectedModels.length == 0" type="button" class="btn btn-primary">添加</button>
          </div>
        </div>

      </form>
    </div>

    <div class="row table-container">
      <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr>
          <th>名称</th>
          <th>类型</th>
          <th class="role">项目角色</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of entityInRoles">
          <td>{{ item.entityName }}</td>
          <td>
            <span *ngIf="item.type=='user'">用户</span>
            <span *ngIf="item.type=='group'">用户组</span>
          </td>
          <td class="role">
            <select (change)="changeRole($event.target.value, item.id)" [ngModel]="item.projectRoleId" class="form-control form-control-sm">
              <option *ngFor="let entry of projectRoles" value="{{entry.id}}">
                <span>{{entry.name}}</span>
              </option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<pop-dialog #modalWrapper (confirm)="delete()" [title]="'提示'">
  确认删除名为"{{model.name}}"的项目及其子节点?
</pop-dialog>


