.execution-result {
  margin: 5px;
  line-height: 30px;

  .module-tips {
    padding: 0 20px;

    .row {
      line-height: 20px;
      label {
        max-width: 80px;
      }
      &.header {
        line-height: 30px;
        font-size: 15px;
      }
    }
  }

  .result-button {
    button {
      margin-right: 8px;
    }
  }

  .property {
    table {
      border: solid 1px #d7d7d7;
      padding: 2px;
      border-radius: 2px;

      width: 100%;
      border-collapse: separate;

      td {
        padding: 5px 7px;
        vertical-align: top;
        .label {
          margin-bottom: 5px;
          font-weight: bold;
          color: #303030;
        }
        .value {
          .smart-edit {

          }
        }

      }
    }
  }
  .field-show-container{
   margin: 10px;
  }
}
