<div class="project-view">

  <div class="content">
    <div class="row">
      <div class="list-toolbar col-xl-12">
        <div class="title">
          <span>{{project.name}}</span>
        </div>

        <div class="filter">

        </div>

        <div class="buttons">
          <button [routerLink]="['/pages/org/' + orgId + '/prjs']" type="button" class="btn btn-primary btn-with-icon btn-sm">
            <i class="fa fa-plus-circle"></i>返回
          </button>
        </div>
      </div>
    </div>

    <div class="row chart">
      <design-progress [data]="chartData.design" [showTitle]="true"></design-progress>
      <execution-process [data]="chartData.exe" [showTitle]="true"></execution-process>
    </div>

    <div class="row cards">
      <div class="col">
        <div class="card">
          <div class="card-header">
            测试计划
          </div>
          <div class="card-block">
            <table class="table">
              <thead class="thead-inverse">
              <tr>
                <th style="width: 200px">名称</th>
                <th style="width: 150px">计划开始时间</th>
                <th style="width: 150px">计划结束时间</th>
                <th style="width: 150px">状态</th>
                <th style="width: 150px">操作</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let plan of plans; let i = index;">
                <td>{{plan.name}}</td>
                <td>{{plan.startTime | date:'y/MM/dd'}}</td>
                <td>{{plan.endTime | date:'y/MM/dd'}}</td>
                <td>{{plan.status | exeStatus}}</td>
                <td>
                  <span [routerLink]="['/pages/org/' + orgId + '/prj/' + id + '/implement/plan/' + plan.id + '/view']" class="link no-underline">查看</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="activity">
    <div class="title">
      项目活动
    </div>
    <div class="list">
      <div *ngFor="let item of (histories | mapToArray); let i = index;" class="item">
        <div class="date">
          {{item.key}}
        </div>
        <div class="descr">
          <div class="action-html descr-item" *ngFor="let his of item.value; let j = index;">
            <div [innerHTML]="his.title" class="content"></div>&nbsp;&nbsp;
            <div class="date">{{his.createTime | date:'HH:mm:ss'}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
