<div class="project-view">

  <div class="content">
    <div class="row">
      <div class="list-toolbar col-xl-12">
        <div class="title">
          <span>ngtesting项目测试</span>
        </div>

        <div class="filter">

        </div>

        <div class="buttons">
          <button [routerLink]="['/pages/org/' + orgId + '/prjs']" type="button" class="btn btn-primary btn-with-icon btn-sm">
            <i class="ion-plus-circled"></i>返回
          </button>
        </div>
      </div>
    </div>

    <div class="row chart">
      <design-progress [showTitle]="true"></design-progress>
      <execution-activity [showTitle]="true"></execution-activity>
    </div>

    <div class="row cards">
      <div class="col">
        <div class="card">
          <div class="card-header">
            测试计划
          </div>
          <div class="card-block">
            <table class="table">
              <tbody>
              <tr>
                <td>测试计划01</td>
                <td>2017-08-01</td>
                <td>陈琦</td>
              </tr>
              <tr>
                <td>测试计划02</td>
                <td>2017-08-10</td>
                <td>陈琦</td>
              </tr>
              <tr>
                <td>测试计划02</td>
                <td>2017-08-10</td>
                <td>陈琦</td>
              </tr>
              <tr>
                <td>测试计划02</td>
                <td>2017-08-10</td>
                <td>陈琦</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="activity">
    <div class="title">
      项目活动
    </div>
    <div class="list">
      <div *ngFor="let item of (histories | mapToArray); let i = index;" class="item">
        <div class="date">
          {{item.key}}
        </div>
        <div class="descr">
          <div *ngFor="let his of item.value; let j = index;" class="descr-item">
            <span class="action-html" [innerHTML]="his.title"></span>
            <span>{{his.createTime | date:'y-MM-dd HH:mm:ss'}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
