<div class="project-view">

  <div class="content">
    <div class="row">
      <div class="list-toolbar col-xl-12">
        <div class="title">
          <span>ngtesting项目测试</span>
        </div>

        <div class="filter">

        </div>

        <div class="buttons">
          <button [routerLink]="['/pages/org/' + orgId + '/prjs']" type="button" class="btn btn-primary btn-with-icon btn-sm">
            <i class="ion-plus-circled"></i>返回
          </button>
        </div>
      </div>
    </div>

    <div class="row chart">
      <execution-activity></execution-activity>
    </div>

    <div class="row cards">
      <div class="col col1">
        <div class="card">
          <div class="card-header">
            测试计划
          </div>
          <div class="card-block">
            <table class="table">
              <tbody>
              <tr>
                <td>测试计划01</td>
                <td>2017-08-01</td>
                <td>陈琦</td>
              </tr>
              <tr>
                <td>测试计划02</td>
                <td>2017-08-10</td>
                <td>陈琦</td>
              </tr>
              <tr>
                <td>测试计划02</td>
                <td>2017-08-10</td>
                <td>陈琦</td>
              </tr>
              <tr>
                <td>测试计划02</td>
                <td>2017-08-10</td>
                <td>陈琦</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col col2">
        <div class="card">
          <div class="card-header">
            里程碑
          </div>
          <div class="card-block">
            <table class="table">
              <tbody>
              <tr>
                <td>8月底生产环境发布</td>
                <td>2017-08-01</td>
                <td>陈琦</td>
              </tr>
              <tr>
                <td>10月北京发布会</td>
                <td>2017-08-10</td>
                <td>陈琦</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="activity">
    <div class="title">
      项目活动
    </div>
    <div class="list">
      <div class="item">
        <div class="date">
          2017年08月08号 星期二
        </div>
        <div class="descr">
          <div class="descr-item">
            <span>Aaron Chen 修改 测试计划A</span>&nbsp;
            <span class="type plan">计划</span>
          </div>
          <div class="descr-item">
            <span>Aaron Chen 新增 版本201710</span>&nbsp;
            <span class="type milestone">里程碑</span>
          </div>
          <div class="descr-item">
            <span>Aaron Chen 修改测试集 版本201710</span>&nbsp;
            <span class="type run">测试集</span>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="date">
          2017年08月08号 星期二
        </div>
        <div class="descr">
          <div class="descr-item">
            <span>Aaron Chen 修改 测试计划A</span>&nbsp;
            <span class="type plan">计划</span>
          </div>
          <div class="descr-item">
            <span>Aaron Chen 新增 版本201710</span>&nbsp;
            <span class="type milestone">里程碑</span>
          </div>
          <div class="descr-item">
            <span>Aaron Chen 修改测试集 版本201710</span>&nbsp;
            <span class="type run">测试集</span>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="date">
          2017年08月08号 星期二
        </div>
        <div class="descr">
          <div class="descr-item">
            <span>Aaron Chen 修改 测试计划A</span>&nbsp;
            <span class="type plan">计划</span>
          </div>
          <div class="descr-item">
            <span>Aaron Chen 新增 版本201710</span>&nbsp;
            <span class="type milestone">里程碑</span>
          </div>
          <div class="descr-item">
            <span>Aaron Chen 修改测试集 版本201710</span>&nbsp;
            <span class="type run">测试集</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
