body {

}
.y-scrollable {
  overflow-y: auto;
}
.link {
  margin: 0 5px;
  text-decoration:none !important;
  color: #209e91;
  cursor:pointer;
  &.underline {
    text-decoration: underline !important;
  }
  &.near {
    margin: 0;
  }
}
.dict {
  color: black;
}
tr.selected {
  color: #209e91;
}
.pointer {
  cursor: pointer;
}

.left {
  text-align: left !important;
}
.center {
  text-align: center;
}
.hidden {
  display: none!important;
}
.transparent {
  color: transparent;
}
.Pass {
  font-weight: bolder;
  color: green;
}
.Fail {
  font-weight: bolder;
  color: red;
}
.Skipped {
  font-weight: bolder;
  color: blue;
}

ngb-pagination {
  .pagination{
    margin: 10px 0 10px 0;
  }
}

main {
  background-color: #f7f7f7;
}

.al-content {
  padding: 0;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-validate-form {
  width: 100%;
  .form-group {
    label {
      text-align: right;

      .left {
        text-align: left;
      }
    }
  }
  &.small-label {
    .form-group {
      label {
        max-width: 100px;
      }
    }
  }
}

.main-with-slidebar {
  margin-left: 180px;
}

.al-sidebar-list-item.selected .al-sidebar-list-link {
  color: #fff !important;
}

.tabs-container {
  display: flex;
  .tabs{
    flex: 1;
    .nav-tabs {
      .nav-item {
        line-height: 20px;
        color: #ffffff;
        .nav-link {
          border: 0;
          cursor: pointer;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
        }
        .nav-link.active, .nav-link.active:focus, .nav-link.active:hover, &.open .nav-link, &.open .nav-link:focus, &.open .nav-link:hover {
          color: #ffffff;
          background-color: #209e91;
        }
      }
    }
  }
  .buttons-container {
    width: 200px;
    text-align: right;
    .btn {
      height: 34px;
    }
  }
}
.tabs-container.light {
  margin: 0px;

  .tabs {
    .nav-tabs {
      background-color: #f7f7f7;
      border-bottom: 1px solid #ddd;
      .nav-item {
        .nav-link {
          color: #209e91;
          border: 1px solid transparent;
          &:hover {
            border-color: #ddd #ddd #fff;
            background-color: transparent;
          }
          &.active {
            color: #464a4c;
            background-color: #fff;
            border-color: #ddd #ddd #fff;
          }
        }
      }
    }
  }

  .tab-content {
    padding: 0;
  }
}

.list-toolbar {
  display: flex;
  margin: 0 0 15px 0;
  padding: 0;
  line-height: 30px;
  .title {
    width: 300px;
    font-size: 20px;
  }
  .filter {
    flex: 1;
    label {
      margin-right: 5px;
    }
    input {
      margin-right: 20px;
    }
  }
  .buttons {
    width: 300px;
    text-align: right;
    button {
      margin-left: 10px;
    }
  }
}

.edit-toolbar {
  display: flex;
  margin: 0px;

  .title {
    flex: 1;
    font-size: 20px;
    line-height: 30px;
  }
  .buttons {
    width: 200px;
    text-align: right;
    button {
      margin-left: 50px;
    }
  }
}

ba-card {
  width:100%;
  .edit-card {
    margin: 20px auto 0 auto;
    width: 800px;
  }
}

ul.al-share {
  li {
    i.socicon {
      &.socicon-img {
        padding: 0px;
        width: 36px;
        height: 36px;
        background-size: cover;
        &.socicon-qq {
          background-image: url(./assets/img/app/third-part/qq.png);
        }
        &.socicon-wechat {
          background-image: url(./assets/img/app/third-part/wechat.png);
        }
        &.socicon-weibo {
          background-image: url(./assets/img/app/third-part/weibo.png);
        }
        &.socicon-baidu {
          background-image: url(./assets/img/app/third-part/baidu.png);
        }
      }

    }
  }
}

.checkbox-list {
  min-height: 300px;
  overflow-y: scroll;
  border: 1px solid #d7d7d7;

  .checkbox-list-inner {
    padding: 10px;
    .toolbar {
      border: 1px solid #d7d7d7;
      background-color: #f5f5f5;
      border-radius: 2px;
      margin-bottom: 10px;

      .toolbar-inner {
        line-height: 30px;
        padding: 0 8px;
        color: #505050;
      }
    }
    .checkbox-list-item {
      margin: 7px 0;
      padding-left: 30px;
      height: 20px;
      position: relative;
      label {
        position: relative;
        display: inline;
        cursor: pointer;
        .checkbox-name {
          padding-bottom: 2px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        input {
          position: absolute;
          top: 0px;
          left: 0px;
          padding: 0;
        }
      }
    }
  }
}

.my-validate-form {
  .form-control.ng-valid {
    border-left: 3px solid #a2db59 !important;
    &.my-invalid {
      border-left: 3px solid #fa758e !important;
    }
  }
  .form-control.ng-invalid.ng-dirty  {
    border-left: 3px solid #fa758e !important;
  }
  .validate-errors {
    margin: 0 0 5px 0;
    &.inline {
      margin-left: 15px;
      margin-bottom: 0px;
    }
    .validate-error {
      line-height:160%;
      color: #fa758e;
      &.inline {
        margin-right: 10px;
      }
    }
  }
}

.ionic-icon.placeholder {
  display: inline-block;
  width: 10.5px;
}
.table tr {
  th:first-child {
    text-align: left !important;
  }
  td:first-child {
    text-align: left !important;
  }
}

.pop-modal {
  .modal-dialog {
    max-width: 90%;
    height: calc(100% - 60px);

    .modal-content {
      height: 100%;
      > :first-child {
        height: 100%;
        .modal-content-inner {
          height: 100%;
          .modal-body {
            padding: 5px 15px 15px 15px;
            height: calc(100% - 37px);
          }
        }
      }
    }
  }
}

.no-content {
  padding: 20px;
  margin: 0 auto;
}

.button-right {
  float: right;
}

.comments {
  .item {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;

    &:hover {
      background: #f8faff;
    }

    .avatar {
      display: inline-block;
      width: 22px;
      height: 22px;
      img {
        max-height: 100%;
        border-radius: 50%;
      }
    }
    .summary {
      display: inline-block;
      line-height: 25px;
    }
    .edit {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .buttons {
    margin: 10px;
  }

}

.action-html {
  display: flex;
  .content {
    flex: 1;
    text-overflow: ellipsis;
    .dict {
      font-style: italic;
    }
  }
  .date {
    width: 70px;
  }
}
