<div class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea">
  <ul id="al-sidebar-list" class="al-sidebar-list">

    <ng-container *ngFor="let item of menuItems; let idx=index">
      <slidebar-item *ngIf="isOrgAdmin || idx == 0"
        [menuItem]="item"
        [selected]="item.link == currLink"
        (itemHover)="hoverItem($event)"
        (itemSelect)="selectItem($event)"
      ></slidebar-item>
    </ng-container>

  </ul>
  <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</div>
