$sidebar-width: 180px;
$sidebar-scroll-width: 4px;
$primary: #209e91;
$sidebar-text: #fff;

.al-sidebar {
  width: $sidebar-width;
  top: 66px;
  left: 0;
  z-index: 99;
  display: block;
  min-height: 100%;
  background-color: #1C2B36;
  height: 100%;
  position: fixed;
}

.al-sidebar-list {
  margin: 0;
  overflow: hidden;
  padding: 18px 0 0 0;
  list-style: none;
}

.al-sidebar-list-item {
  display: block;
  position: relative;
  float: none;
  padding: 0;
  &.selected {
    .al-sidebar-list-link {
      color: $primary;
    }
  }
}

.al-sidebar-list-link {
  display: block;
  height: 42px;
  padding-left: 18px;
  text-shadow: none;
  font-size: 13px;
  text-decoration: none;
  color: $sidebar-text;
  line-height: 42px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  i {
    margin-right: 18px;
    display: inline-block;
  }
}


.sidebar-hover-elem{
  width: $sidebar-scroll-width;
  background: $primary;
  position: absolute;
  top: -150px;
  left: $sidebar-width - $sidebar-scroll-width;
  transition: all 0.5s ease;
  transition-property: top, height;
  height: 42px;
  display: block;
}
