<td *ngIf="model.type=='project'" class="level-span"></td>

<td *ngIf="model.type=='project'" [attr.colSpan]="1">
  <a [routerLink]="['/pages/project', model.id, 'view']">{{model.name}}</a>
</td>
<td *ngIf="model.type=='group'" [attr.colSpan]="2">{{model.name}}</td>
<td>
  <span *ngIf="model.type=='group'">组({{model.childrenNumb}})</span>
  <span *ngIf="model.type=='project'">项目</span>
</td>
<td>
  <span *ngIf="!model.disabled">启用</span>
  <span *ngIf="model.disabled">归档</span>
</td>
<td class="opt">
  <span [routerLink]="['/pages/org/' + orgId + '/prjs/' +model.id+ '/edit/' + model.type]" class="link no-underline">编辑</span>
  <span *ngIf="model.type=='project'" [routerLink]="['/pages/org/' + orgId + '/prjs/' + model.id + '/view']" class="link no-underline">查看</span>
  <span *ngIf="model.type=='project'" [routerLink]="['/pages/org/' + orgId + '/prj/' + model.id + '/design/case']" class="link no-underline">设计</span>
  <span *ngIf="model.type=='project'" [routerLink]="['/pages/org/' + orgId + '/prj/' + model.id + '/implement/plan/list']" class="link no-underline">执行</span>
</td>
