<div [formGroup]="form" class="field-show">
  <div *ngIf="status == 'view'" class="form-inline">
    <span *ngIf="type=='text'">
      <field-show-label [label]="label"></field-show-label>
      <a *ngIf="!readonly" href="#" class="smart-edit" (click)="edit($event, format)"><i class="fa fa-pencil"></i></a>
      <field-show-value [model]="model" [prop]="prop" [valType]="type" [valFormat]="format"></field-show-value>
    </span>
    <span *ngIf="type!='text'">
      <field-show-label [label]="label"></field-show-label>
      <field-show-value [model]="model" [prop]="prop" [valType]="type" [valFormat]="format"></field-show-value>
      <a *ngIf="!readonly" href="#" class="smart-edit" (click)="edit($event)"><i class="fa fa-pencil"></i></a>
    </span>
  </div>
  <div *ngIf="!readonly && status == 'edit'" class="form-inline edit-mode">
    <field-show-label [label]="label"></field-show-label>
    <ng-container [ngSwitch]="type">
          <span class="field-input-container">
           <span *ngSwitchCase="'string'">
              <input type="text" class="form-control" name="{{prop}}" formControlName="{{prop}}"
                     (keydown.enter)="save($event)" [(ngModel)]="model[prop]" #{{prop}}>
          </span>

          <span *ngSwitchCase="'number'">
              <input type="number" class="form-control" name="{{prop}}" formControlName="{{prop}}"
                     (keydown.enter)="save($event)" [(ngModel)]="model[prop]" #{{prop}}>
          </span>

          <span *ngSwitchCase="'dropdown'">
              <select [(ngModel)]="model[prop]" formControlName="{{prop}}" name="{{prop}}" class="form-control form-control-sm">
                <option value="">请选择</option>
                <option *ngFor="let entry of field.optionVos" value="{{entry.value}}">{{entry.label}}</option>
              </select>
          </span>

          <span *ngSwitchCase="'text'">
            <ng-container *ngIf="format=='plain_text'">
              <textarea type="text" class="form-control" name="{{prop}}" formControlName="{{prop}}"
                        [(ngModel)]="model[prop]" rows="2" #{{prop}}>
              </textarea>
            </ng-container>
            <ng-container *ngIf="format=='rich_text'">
              rich_text
            </ng-container>
          </span>

          <a href="#" class="smart-edit" (click)="save($event)"><i class="fa fa-check"></i></a>
          <a href="#" class="smart-edit" (click)="cancel($event)"><i class="fa fa-times"></i></a>

        </span>
    </ng-container>
  </div>

  <!--    <ng-container *ngSwitchCase="'url'">
        <input type="text" class="form-control" name="{{field.column}}" formControlName="{{field.column}}"
               [(ngModel)]="model[field.column]" #{{field.column}}>
      </ng-container>

      <ng-container *ngSwitchCase="'radio'">
        <input type="radio" class="form-check-input" name="{{field.column}}" formControlName="{{field.column}}"
               [(ngModel)]="model[field.column]" #isRequired>
      </ng-container>

      <ng-container *ngSwitchCase="'checkbox'">
        <input type="checkbox" class="form-check-input" name="{{field.column}}" formControlName="{{field.column}}"
               [(ngModel)]="model[field.column]" #isRequired>
      </ng-container>

      <ng-container *ngSwitchCase="'multi_select'">
        <select multiple [(ngModel)]="model[field.column]" formControlName="{{field.column}}" name="{{field.column}}"
                class="form-control form-control-sm">
          <option value=""></option>
        </select>
      </ng-container>

      <ng-container *ngSwitchCase="'date'">
      </ng-container>
      <ng-container *ngSwitchCase="'user'">
      </ng-container>
      <ng-container *ngSwitchCase="'version'">
      </ng-container>
      <ng-container *ngSwitchCase="'step'">
      </ng-container>
      <ng-container *ngSwitchCase="'result'">
      </ng-container>-->

</div>
