<ng-container class="field-show-value">

  <!-- 非自定义字段 -->
  <ng-container style="margin:0;" *ngIf="casePropertyMap && casePropertyMap[prop]">
    <span *ngIf="valType!='text'">{{casePropertyMap[prop][model[prop]]}}</span>

    <pre *ngIf="valType=='text' && valFormat!='rich_text'" style="display: inline;"
         [innerHTML]="casePropertyMap[prop][model[prop]]"></pre>
    <span *ngIf="valType=='text' && valFormat=='rich_text'"
          [innerHTML]="casePropertyMap[prop][model[prop]]"></span>
  </ng-container>

  <!-- 自定义字段 -->
  <ng-container style="margin:0;" *ngIf="!casePropertyMap || !casePropertyMap[prop]">
    <span *ngIf="valType!='text'">{{model[prop]}}</span>

    <pre *ngIf="valType=='text' && valFormat!='rich_text'" style="display: inline;"
         [innerHTML]="model[prop]"></pre>
    <span *ngIf="valType=='text' && valFormat=='rich_text'"
          [innerHTML]="model[prop]"></span>
  </ng-container>
</ng-container>
