.field-show {
  .form-inline {
    input {
      flex: 1;
    }
    span {
      line-height: 20px;
    }

    .smart-edit {
      display: inline-block;
      padding: 0 5px;
    }

    .field-input-container {
      flex: 1;
      z-index: 99;
      input, textarea {
        width: 80%;
      }
      textarea {
        height: auto;
      }
    }
  }
}
