<div class="profile-edit container-fluid">
  <ba-card bacardclass="with-scroll" cardtitle="个人信息">
    <div bacardblur="" zoom-in="" class="with-scroll">
      <div class="card-header clearfix">
        <h3 class="card-title" translate="">个人信息</h3>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <ba-picture-uploader>
              <div class="picture-group">
                <div class="picture-wrapper">
                  <img src="assets/img/app/profile/Nasta.png">
                </div>
                <i class="ion-ios-close-outline"></i>
                <a class="change-picture" href="">Change profile Picture</a>
                <input hidden="true" ngfileselect="" type="file">
              </div>
            </ba-picture-uploader>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">姓名</label>
          <div class="col-sm-11 col-form-label">
            陈琦
            <span *ngIf="!readonly" href="#" class="link" (click)="edit($event)">
              <i class="ion-edit"></i>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">邮箱</label>
          <div class="col-sm-11 col-form-label">
            462826@qq.com
            <span *ngIf="!readonly" href="#" class="link" (click)="edit($event)">
              <i class="ion-edit"></i>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">手机</label>
          <div class="col-sm-11 col-form-label">
            18626203266
            <span *ngIf="!readonly" href="#" class="link" (click)="edit($event)">
              <i class="ion-edit"></i>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">密码</label>
          <div class="col-sm-11 col-form-label">
            <span class="link">修改密码</span>
          </div>
        </div>
      </div>
    </div>
  </ba-card>
</div>
