.search-select {

  ul.select-choices {
    display: flex;
    border-radius: 2px;
    background-color: #fff;

    height: auto !important;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    border: 1px solid #e5e5e5;
    cursor: text;
    overflow: hidden;

    li.select-search-choice {
      float: left;
      list-style: none;
      user-select: none;

      cursor: default;
      border: 1px solid #e5e5e5;
      border-radius: 3px;

      padding: 3px 5px 3px 0px;
      position: relative;

      margin: 5px 0 5px 8px;
      box-shadow: none;
      color: #5c5c5c;
      line-height: 15px;
      background-color: #fafafa;
      .fa.fa-times {
        padding: 0 3px 0 8px;
      }
    }
    li.select-search-field {
      flex: 1;
      display: flex;

      .select-offscreen:focus {
        clip: rect(0 0 0 0) !important;
        width: 1px !important;
        height: 1px !important;
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        position: absolute !important;
        outline: 0 !important;
        left: 0px !important;
        top: 0px !important;
      }
      input {
        flex: 1;
        padding: 8px;
        height: auto;
        margin: 1px 0;
        color: #666;
        outline: 0;
        border: 0;
        box-shadow: none;
        background: transparent !important;
      }
    }
  }

  .select-drop {
    position: relative;
    .select-results {
      position: absolute;
      margin: 0;
      padding: 5px;
      top: 100%;
      left: 0;
      z-index: 1000;
      float: left;
      width: 100%;

      color: #292b2c;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;

      .select-result {
        display: flex;
        margin: 1px;
        padding: 5px;
        cursor: pointer;
        .image {
          margin-right: 5px;
          height: 34px;
          width: 34px;
          font-size: 30px;
          line-height: 34px;
          text-align: center;
        }
        .user-name {
          flex: 1;
          line-height: 17px;
          font-size: 13px;
        }
        .group-name {
          flex: 1;
          line-height: 34px;
          font-size: 13px;
        }
        &.active {
          background-color: #eceeef;
        }
      }

    }

    .close {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 9999;
      width: 25px;
      height: 25px;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      background-color: transparent;
    }
  }

}
