<div class="case-edit">
  <div *ngIf="model" class="row">
    <form [formGroup]="form" (ngSubmit)="save()" class="my-validate-form small-label">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <button (click)="save()" type="button" class="btn btn-primary btn-sm" [disabled]="!form.valid">保存</button>
          <button (click)="reset()" type="button" class="btn btn-default btn-sm" [disabled]="!form.valid">重置</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">标题</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" formControlName="title"
                 [(ngModel)]="model.title" #title>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">

          <div class="tabs-container light">
            <div class="tabs">
              <ngb-tabset  (tabChange)="tabChange($event)">
                <ngb-tab id="steps">
                  <ng-template ngbTabTitle>测试步骤</ng-template>
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
                <ngb-tab id="summary">
                  <ng-template ngbTabTitle>用例信息</ng-template>
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>

        </div>
      </div>

      <div [class.hidden]="tab != 'steps'" class="tab-steps form-group row">

        <div class="col-sm-12">
          <steps-table [settings]="settings" [source]="model.steps"

                       (upConfirm)="onUpConfirm($event)"
                       (downConfirm)="onDownConfirm($event)"

                       (createConfirm)="onCreateConfirm($event)"
                       (saveConfirm)="onSaveConfirm($event)"
                       (deleteConfirm)="onDeleteConfirm($event)"
          ></steps-table>
        </div>
      </div>

      <div [class.hidden]="tab != 'summary'" class="tab-summary">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>测试目的</span></label>
          <div class="col-sm-10">
              <textarea type="text" class="form-control" name="objective" formControlName="objective"
                      [(ngModel)]="model.objective" #objective></textarea>
          </div>
        </div>

        <div *ngFor="let prop of model.props; let i = index;" class="form-group row">
          <label class="col-sm-2 col-form-label"><span>{{prop.label}}</span></label>
          <div class="col-sm-10">
            <custom-field [form]="form" [prop]="prop" [fields]="fields"></custom-field>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <div class="validate-errors">
            <div class="validate-error" *ngFor="let msg of formErrors">
              <div>{{ msg }}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
