.table.table-tree {
  border: 1px solid gainsboro;
  thead th {
    border-color: #373a3c;
  }
  tbody tr td {
    text-align: left;
    border: 1px solid gainsboro;
    &.depth-span {
      width: 50px;
    }
  }
}
