<table *ngIf="models" class="table table-bordered table-tree">
  <thead class="thead-inverse">
  <tr>
    <th scope="row" [colSpan]="maxLevel">名称</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let model of models">
      <tr *ngIf="!keywords" table-row [model]="model" [maxLevel]="maxLevel" [keywords]="keywords"></tr>
      <tr *ngIf="keywords" table-row [model]="model" [maxLevel]="maxLevel"
          [class.highlight]="model.name.toLowerCase().indexOf(keywords.toLowerCase()) > -1">{{keywords}}</tr>
    </ng-container>
  </tbody>
</table>
<div *ngIf="!models">
  暂无数据
</div>
