<div class="custom-field-list container-fluid">

  <div class="row">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>名称</th>
        <th>编码</th>
        <th>应用对象</th>
        <th>类型</th>
        <th>格式</th>
        <th>是否內置</th>
        <th>是否全局</th>
        <th>是否必填</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of models; let i = index;">
        <td>{{ item.label }}</td>
        <td>{{ item.column }}</td>
        <td>{{ item.applyTo | fieldApplyTo}}</td>

        <td>{{ item.type | fieldType }}</td>
        <td>
          {{ item.format | fieldFormat }}
          <span *ngIf="item.type == 'text'">({{item.rows}})</span>
        </td>
        <td>{{item.buildIn | trueOrFalse}}</td>
        <td>{{item.global | trueOrFalse}}</td>
        <td>{{item.required | trueOrFalse}}</td>
        <td>
          <span *ngIf="i == 0" class="ionic-icon link placeholder"></span>
          <span (click)="up(item)" *ngIf="i > 0" class="fa fa-arrow-up ionic-icon link"></span>

          <span (click)="down(item)" *ngIf="i < models.length - 1" class="fa fa-arrow-down ionic-icon link"></span>
          <span *ngIf="i == models.length - 1" class="ionic-icon link placeholder"></span>
          &nbsp;
          <span [routerLink]="['/pages/org-admin/property/custom-field/edit', item.id]" class="link no-underline">编辑</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

