<div class="container-fluid">

  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="filter">
        <div class="btn-group">
          <label (click)="goto('property')" class="btn btn-success" [(ngModel)]="tabModel" btnRadio="property"
                 uncheckable>会议属性</label>
          <label (click)="goto('schedule')" class="btn btn-success" [(ngModel)]="tabModel" btnRadio="schedule"
                 uncheckable>会议日程</label>
          <label (click)="goto('guest')" class="btn btn-success" [(ngModel)]="tabModel" btnRadio="service" uncheckable>会议嘉宾</label>
          <label (click)="goto('service')" class="btn btn-success" [(ngModel)]="tabModel" btnRadio="guest" uncheckable>会议服务</label>
        </div>
      </div>
      <div class="buttons">
        <button (click)="back()" type="button" class="btn btn-default btn-with-icon btn-sm back">
          <i class="ion-backspace"></i>返回
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div *ngFor="let item of items; let i = index" class="card">
        <div class="card-header no-border" role="tab" id="headingOne">
          <h5 class="mb-0">
            <span data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
              <span class="pointer">{{item.typeName}}</span>
              &nbsp;&nbsp;
              <i (click)="showModal(item, 'edit', $event);" class="ion-edit link"></i>
              <i *ngIf="!item.disabled" (click)="disable(item, 'disable', $event);" class="ion-eye-disabled link"></i>
              <i *ngIf="item.disabled" (click)="disable(item, 'enable', $event);" class="ion-eye link"></i>
            </span>
          </h5>
        </div>
        <div [collapse]="item.disabled" id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block top0">
            {{item.descr}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #editPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     (onShown)="onModalShow()" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideModal('edit')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">编辑</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="my-validate-form">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><span>描述</span></label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" name="descr" formControlName="descr"
                        [(ngModel)]="item.descr" #descr></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
              <button type="submit" class="btn btn-default" [disabled]="!form.valid">保存</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
              <div class="validate-errors">
                <div class="validate-error" *ngFor="let msg of formErrors">
                  <div>{{ msg }}</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
