<div class="chart-execution">
  <div class="tabs-container light">
    <div class="tabs">
      <ngb-tabset  (tabChange)="tabChange($event)">
        <ngb-tab id="exe-result">
          <ng-template ngbTabTitle>执行结果</ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
        <ngb-tab id="exe-process">
          <ng-template ngbTabTitle>执行过程</ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
        <ngb-tab id="exe-progress">
          <ng-template ngbTabTitle>执行进度</ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <div class="row">

    <div *ngIf="tab == 'exe-result'" class="execution-content">
      <execution-result [data]="chartData.result"></execution-result>
    </div>

    <div *ngIf="tab == 'exe-process'" class="execution-content">
      <execution-process [data]="chartData.process"></execution-process>
    </div>

    <div *ngIf="tab == 'exe-progress'" class="execution-content">
      <execution-progress [data]="chartData.progress"></execution-progress>
    </div>

  </div>
</div>


