<div class="case-type-edit container-fluid">

  <form [formGroup]="form" class="my-validate-form">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><span>名称</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" formControlName="name"
                 [(ngModel)]="model.name" #name>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><span>描述</span></label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" name="descr" formControlName="descr" rows="3"
                  [(ngModel)]="model.descr" #descr></textarea>
      </div>
    </div>
      <div class="form-group row just-label">
        <label class="col-sm-2 col-form-label"><span>是否默认</span></label>
        <label class="col-sm-10 col-form-label left">
          {{model.isDefault | trueOrFalse}}
        </label>
      </div>

<!--      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="disabled" formControlName="disabled"
                     [(ngModel)]="model.disabled" #disabled>
              &nbsp;&nbsp;禁用
            </label>
          </div>
        </div>
      </div>-->

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button (click)="save()" type="button" class="btn btn-primary" [disabled]="!form.valid">保存</button>
        &nbsp;
        <button [routerLink]="['/pages/org-admin/property/case-type/list']" type="button" class="btn btn-default">取消</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="showModal()" *ngIf="model.id" type="button" class="btn btn-danger">删除</button>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div class="validate-errors">
          <div class="validate-error" *ngFor="let msg of formErrors">
            <div>{{ msg }}</div>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>

<pop-dialog #modalWrapper (confirm)="delete()" [title]="'提示'">
  确认删除名为"{{model.name}}"的用户?
</pop-dialog>
