<div class="plan-list container-fluid">
  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        测试计划
      </div>

      <div class="filter">
        <form [formGroup]="queryForm" class="form-inline">
          <label for="status">状态</label>
          <select [(ngModel)]="queryModel.status" formControlName="status"
                  class="form-control form-control-sm" id="status" name="status">
            <option *ngFor="let entry of (statusMap | mapToArray)" value="{{entry.key}}">{{entry.value}}</option>
          </select>
          &nbsp;&nbsp;&nbsp;
          <label for="keywords">关键字</label>
          <input [(ngModel)]="queryModel.keywords" formControlName="keywords"
                 type="search" class="form-control form-control-sm" placeholder="" id="keywords" name="keywords">
        </form>
      </div>

      <div class="buttons">
        <button privilege [privs]="'plan-create'" (click)="create()" type="button" class="btn btn-primary btn-with-icon btn-sm">
          <i class="fa fa-plus-circle"></i>新建
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead class="thead-inverse">
      <tr>
        <th style="width: 200px">名称</th>
        <th style="width: 150px">计划开始时间</th>
        <th style="width: 150px">计划结束时间</th>
        <th style="width: 150px">状态</th>
        <th style="width: 150px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of models">
        <td>{{ item.name }}</td>
        <td>{{ item.startTime | date:'y/MM/dd HH:mm:ss' }}</td>
        <td>{{ item.endTime | date:'y/MM/dd HH:mm:ss' }}</td>
        <td>{{ item.status | exeStatus}}</td>
        <td>
          <span [routerLink]="['/pages/org/' + orgId + '/prj/' + prjId + '/implement/plan/' + item.id + '/view']" class="link no-underline">查看</span>
          <span privilege [privs]="'plan-update'" [routerLink]="['/pages/org/' + orgId + '/prj/' + prjId + '/implement/plan/' + item.id + '/edit']" class="link no-underline">编辑</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
