.report-view {
  h3 {
    margin: 20px 0;
    text-align: center;
  }
  table {
    margin: 0 auto 50px auto;
  }
}

.large-width-modal {
  .modal-dialog {

    max-width: 1000px !important;
    width: 80%;
    .modal-content {
      padding: 10px;
    }

    ol {
      li {
        margin: 3px;
        list-style-type:demical;
        line-height: 30px;
      }
    }
  }
}


