.property {
  .tabs-container {
    margin: 15px;
    display: flex;
    .tabs{
      flex: 1;
    }
    .buttons-container {
      width: 200px;
      text-align: right;
      .btn {
        height: 34px;
      }
    }
  }

}
