.custom-field-edit {
  padding: 15px;

  .field-edit-info {

  }

  .field-edit-groups {

  }

  .checkbox-list-item {
    &.group {
      margin-top: 15px;
      margin-left: -20px;
      font-weight: bolder;
    }
  }
}


