<div class="plan-view container-fluid">

  <div class="row">
    <div class="col-sm-6">
      <execution-report></execution-report>
    </div>

    <div class="col-sm-6">
      <div class="plan-detail">

        <div class="row">
          <div class="edit-toolbar col-xl-12">
            <div class="title">
              <span>计划详情</span>
            </div>
            <div class="buttons">
              <button [routerLink]="['/pages/implement/plan/list']" type="button"
                      class="btn btn-secondary btn-with-icon btn-sm back">
                <i class="ion-backspace"></i>返回
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label"><span>名称</span></label>
          <label class="col-sm-4 col-form-label">
            {{model.name}}
          </label>

          <label class="col-sm-2 col-form-label"><span>耗时</span></label>
          <label class="col-sm-4 col-form-label">
            {{model.estimate}}
          </label>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>开始时间</span></label>
          <label class="col-sm-4 col-form-label">
            {{model.startTime}}
          </label>

          <label class="col-sm-2 col-form-label"><span>结束时间</span></label>
          <label class="col-sm-4 col-form-label">
            {{model.endTime}}
          </label>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>简介</span></label>
          <label class="col-sm-10 col-form-label">{{model.descr}}</label>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><span>状态</span></label>
          <label class="col-sm-10 col-form-label">
            <span *ngIf="!model.disabled">启用</span>
            <span *ngIf="model.disabled">已禁用</span>
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="list-toolbar col-xl-12">
      <div class="title">
        <span>测试集</span>
      </div>
      <div class="filter"></div>
      <div class="buttons">
        <button (click)="create()" type="button" class="btn btn-primary btn-with-icon btn-sm">
          <i class="ion-plus-circled"></i>新建
        </button>
      </div>
    </div>
  </div>
  <div class="test-sets row">
    <div class="col-sm-12 run-list">
      <table class="table">
        <thead>
        <tr>
          <th class="id">编号</th>
          <th>标题</th>
          <th>执行情况</th>
          <th class="opt">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of model.runVos" class="pointer">
          <td>1</td>
          <td>{{item.name}}</td>
          <td>
            总数: {{item.countMap['total']}} &nbsp;
            通过: {{item.countMap['pass']}} &nbsp;
            失败: {{item.countMap['fail']}} &nbsp;
            未执行: {{item.countMap['untest']}}
          </td>
          <td>
            <span [routerLink]="['/pages/implement/run/execution', item.id]" class="link no-underline">执行</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
