.testcase {
  .main {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;

    .list {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 100px;
      width: 30%;
    }
    .detail {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 70%;
    }
    .handle {
      position:absolute;
      top:0;
      left: 0;
      height:100%;
      width: 3px;
      cursor: col-resize;
      background-color: #eeeeee;
    }
  }
}
