<div class="picture-group" [ngClass]="{uploading: uploadInProgress}">
  <div class="picture-wrapper" (click)="bringFileSelector();">
    <img src="{{ picture | imgPath }}" *ngIf="picture">
    <img src="{{ defaultPicture | imgPath}}" *ngIf="!picture && defaultPicture">

    <div class="loading" *ngIf="uploadInProgress">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>

  <i class="ion-ios-close-outline" (click)="removePicture();" *ngIf="picture && canDelete"></i>

  <a href class="change-picture" ngFileDrop
     [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">修改</a>

  <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
</div>
