<div class="case-edit">
  <div [class.hidden]="model.id" class="row module-tips">请选择用例</div>
  <div [class.hidden]="!model.id" class="row">
    <form [formGroup]="form" (ngSubmit)="save()" class="my-validate-form small-label">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <button (click)="save()" type="button" class="btn btn-info btn-sm" [disabled]="!form.valid">保存</button>
          &nbsp;&nbsp;
          <button (click)="review(true)" type="button" class="btn btn-primary btn-sm"
                  [disabled]="!form.valid">评审通过</button>
          <button (click)="review(false)" type="button" class="btn btn-warning btn-sm"
                  [disabled]="!form.valid">评审失败</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label" style="user-select: text;">TC-{{model.id}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="name" formControlName="name"
                 [(ngModel)]="model.name" #name>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
          <div class="tabs-container light">
            <div class="tabs">
              <ngb-tabset  (tabChange)="tabChange($event)">
                <ngb-tab id="content">
                  <ng-template ngbTabTitle>测试步骤</ng-template>
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
                <ngb-tab id="summary">
                  <ng-template ngbTabTitle>用例信息</ng-template>
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
        <div class="contentType col-sm-2">
          <div [class.hidden]="tab != 'content'">
            <span *ngIf="model.contentType=='richText'" (click)="changeContentType('steps')" class="link">
              <i class="ion-ios-grid-view"></i>
              表格
            </span>
            <span *ngIf="model.contentType=='steps'" (click)="changeContentType('richText')" class="link">
              <i class="ion-document-text"></i>
              富文本
            </span>
          </div>
        </div>
      </div>

      <div [class.hidden]="tab != 'content'" class="tab-steps form-group row">
        <div [class.hidden]="'richText'!=model.contentType" class="col-sm-12">
          <tiny-mce [content]="model.content" [height]="'300px'"
                        (editorKeyup)="onEditorKeyup($event)"></tiny-mce>
        </div>

        <div [class.hidden]="'steps'!=model.contentType" class="col-sm-12">
          <steps-table [settings]="settings" [source]="model.steps"

                       (upConfirm)="onUpConfirm($event)"
                       (downConfirm)="onDownConfirm($event)"

                       (createConfirm)="onCreateConfirm($event)"
                       (saveConfirm)="onSaveConfirm($event)"
                       (deleteConfirm)="onDeleteConfirm($event)"
          ></steps-table>
        </div>
      </div>

      <div [class.hidden]="tab != 'summary'" class="tab-summary">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"><span>测试类型</span></label>
          <div class="col-sm-9">
            <select [(ngModel)]="model.type" formControlName="type" class="form-control" name="type">
              <option value="functional">功能</option>
              <option value="performance">性能</option>
              <option value="security">安全</option>
              <option value="other">其他</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"><span>优先级</span></label>
          <div class="col-sm-9">
            <select [(ngModel)]="model.priority" formControlName="priority" class="form-control" name="priority">
              <option value="high">高</option>
              <option value="middle">中</option>
              <option value="low">低</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"><span>耗时(分钟)</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="estimate" formControlName="estimate"
                   [(ngModel)]="model.estimate" #estimate>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label"><span>测试目的</span></label>
          <div class="col-sm-9">
              <textarea type="text" class="form-control" name="objective" formControlName="objective"
                      [(ngModel)]="model.objective" #objective></textarea>
          </div>
        </div>

        <ng-container *ngIf="model.id">
          <div *ngFor="let field of fields; let i = index;" class="form-group row">
            <label class="col-sm-3 col-form-label"><span>{{field.label}}</span></label>
            <div class="col-sm-9">
              <custom-field [form]="form" [model]="model" [field]="field"></custom-field>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="form-group row comments">
        <div class="col-sm-12">
          <div *ngFor="let comment of model.comments; let i = index;" class="item">
            <div>
              <span class="avatar">
                <img src="{{ comment.userAvatar | imgPath }}" class="">
              </span>
              <span class="summary">
                {{comment.userName}} {{comment.summary}} - {{comment.changeTime | timePassed}}
              </span>
            </div>
            <div>{{comment.content}}</div>

            <div class="edit">
              <span *ngIf="comment.userId==user.id" (click)="editComments(comment)" class="link"><i class="ion-edit"></i></span>
              <span *ngIf="comment.userId==user.id" (click)="removeComments(comment.id, i)" class="link"><i class="ion-trash-a"></i></span>
            </div>
          </div>
          <div class="buttons">
            <button (click)="addComments()" type="button" class="btn btn-secondary btn-with-icon btn-sm">
              <i class="ion-ios-chatbubble-outline"></i>备注
            </button>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <div class="validate-errors">
            <div class="validate-error" *ngFor="let msg of formErrors">
              <div>{{ msg }}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

<comment-edit (confirm)="saveComments(false)" [(model)]="comment" #modalWrapper></comment-edit>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
