.case-edit {
  margin: 5px;

  .my-validate-form {
    .contentType {
      line-height: 36px;
    }
  }

  .module-tips {
    padding: 0 20px;

    .row {
      line-height: 20px;
      label {
        max-width: 80px;
      }

      &.header {
        line-height: 30px;
        font-size: 15px;
      }
    }
  }
}
