<div bsModal #modal="bs-modal" class="pop-dialog modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="onConfirm()">确认</button>
        &nbsp;&nbsp;
        <button class="btn btn-default confirm-btn" (click)="hideModal()">取消</button>
      </div>
    </div>
  </div>
</div>
