<div [formGroup]="form" class="field-show">
      <div *ngIf="status == 'view'" class="form-inline">
        <field-show-label [label]="label"></field-show-label>
        <field-show-value [model]="model" [prop]="prop"></field-show-value>
        <a *ngIf="!readonly" href="#" class="smart-edit" (click)="edit($event)"><i class="ion-edit"></i></a>
      </div>
      <div *ngIf="!readonly && status == 'edit'" class="form-inline">
        <field-show-label [label]="label"></field-show-label>
        <ng-container [ngSwitch]="type">

           <span *ngSwitchCase="'string'">
              <input type="text" class="form-control" name="{{prop}}" formControlName="{{prop}}"
                     (keydown.enter)="save($event)"
                     [(ngModel)]="model[prop]" #{{prop}}>
          </span>

          <span *ngSwitchCase="'number'">
              <input type="text" class="form-control" name="{{prop}}" formControlName="{{prop}}"
                     (keyup.enter)="save($event)" [(ngModel)]="model[prop]" #{{prop}}>
          </span>

          <span *ngSwitchCase="'dropdown'">
              <select [(ngModel)]="model[prop]" formControlName="{{prop}}" name="{{prop}}"
                      class="form-control form-control-sm">
                <option *ngFor="let entry of (casePropertyMap[optionsKey] | mapToArray)" value="{{entry.key}}">{{entry.value}}</option>
              </select>
          </span>
        </ng-container>

        <a href="#" class="smart-edit" (click)="save($event)"><i class="ion-checkmark"></i></a>
        <a href="#" class="smart-edit" (click)="cancel($event)"><i class="ion-close"></i></a>
      </div>

    <!--    <ng-container *ngSwitchCase="'url'">
          <input type="text" class="form-control" name="{{field.column}}" formControlName="{{field.column}}"
                 [(ngModel)]="model[field.column]" #{{field.column}}>
        </ng-container>

        <ng-container *ngSwitchCase="'text'">
          <ng-container *ngIf="field.format=='plain_text'">
            <textarea type="text" class="form-control" name="{{field.column}}" formControlName="{{field.column}}"
                      [(ngModel)]="model[field.column]" #{{field.column}}>
            </textarea>
          </ng-container>
          <ng-container *ngIf="field.format=='markdown'">

          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'radio'">
          <input type="radio" class="form-check-input" name="{{field.column}}" formControlName="{{field.column}}"
                 [(ngModel)]="model[field.column]" #isRequired>
        </ng-container>

        <ng-container *ngSwitchCase="'checkbox'">
          <input type="checkbox" class="form-check-input" name="{{field.column}}" formControlName="{{field.column}}"
                 [(ngModel)]="model[field.column]" #isRequired>
        </ng-container>

        <ng-container *ngSwitchCase="'multi_select'">
          <select multiple [(ngModel)]="model[field.column]" formControlName="{{field.column}}" name="{{field.column}}"
                  class="form-control form-control-sm">
            <option value=""></option>
          </select>
        </ng-container>

        <ng-container *ngSwitchCase="'date'">
        </ng-container>
        <ng-container *ngSwitchCase="'user'">
        </ng-container>
        <ng-container *ngSwitchCase="'version'">
        </ng-container>
        <ng-container *ngSwitchCase="'step'">
        </ng-container>
        <ng-container *ngSwitchCase="'result'">
        </ng-container>-->

</div>
