<div [formGroup]="form" class="custom-field">

  <ng-container [ngSwitch]="field.type">
    <ng-container *ngSwitchCase="'string'">
      <input type="text" class="form-control" name="{{field.column}}" formControlName="{{field.column}}"
             [(ngModel)]="model[field.column]" #{{field.column}}>
    </ng-container>
    <ng-container *ngSwitchCase="'number'">
      <input type="text" class="form-control" name="{{field.column}}" formControlName="{{field.column}}"
             [(ngModel)]="model[field.column]" #{{field.column}}>
    </ng-container>
    <ng-container *ngSwitchCase="'url'">
      <input type="text" class="form-control" name="{{field.column}}" formControlName="{{field.column}}"
             [(ngModel)]="model[field.column]" #{{field.column}}>
    </ng-container>

    <ng-container *ngSwitchCase="'text'">
      <ng-container *ngIf="field.format=='plain_text'">
        <textarea type="text" class="form-control" name="{{field.column}}" formControlName="{{field.column}}"
                  [(ngModel)]="model[field.column]" #{{field.column}}>
        </textarea>
      </ng-container>
      <ng-container *ngIf="field.format=='markdown'">

      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <input type="radio" class="form-check-input" name="{{field.column}}" formControlName="{{field.column}}"
             [(ngModel)]="model[field.column]" #isRequired>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox'">
      <input type="checkbox" class="form-check-input" name="{{field.column}}" formControlName="{{field.column}}"
             [(ngModel)]="model[field.column]" #isRequired>
    </ng-container>

    <ng-container *ngSwitchCase="'dropdown'">
      <select [(ngModel)]="model[field.column]" formControlName="applyTo" name="{{field.column}}" class="form-control form-control-sm">
        <option value=""></option>
      </select>
    </ng-container>

    <ng-container *ngSwitchCase="'multi_select'">
      <select multiple [(ngModel)]="model[field.column]" formControlName="{{field.column}}" name="{{field.column}}"
              class="form-control form-control-sm">
        <option value=""></option>
      </select>
    </ng-container>

    <ng-container *ngSwitchCase="'date'">
    </ng-container>
    <ng-container *ngSwitchCase="'user'">
    </ng-container>
    <ng-container *ngSwitchCase="'version'">
    </ng-container>
    <ng-container *ngSwitchCase="'step'">
    </ng-container>
    <ng-container *ngSwitchCase="'result'">
    </ng-container>

  </ng-container>

</div>
