<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.AccountVerifyCodeDao">

    <insert id="genVerifyCode" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into "TstUserVerifyCode" ("userId", code, "expireTime", "createTime", deleted, disabled)
        values (#{userId}, #{code}, #{expireTime}, #{createTime}, false, false)
    </insert>

    <select id="getByCode" resultType="TstUserVerifyCode">
        SELECT *
        FROM "TstUserVerifyCode" o

        WHERE o."code" = #{code}
          AND NOT o.deleted
          AND NOT o.disabled
        ORDER BY o."createTime" DESC
    </select>

    <update id="disableCode">
        UPDATE "TstUserVerifyCode"
        SET disabled     = TRUE,
            deleted      = TRUE,
            "updateTime" = NOW()
        WHERE id = #{id}
    </update>

</mapper>
