<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.AuthDao" >

    <select id="userNotInOrg" resultType="boolean" statementType="CALLABLE">
        SELECT (count(o.id) = 0) isExist
        FROM TstUser o
        JOIN TstOrgUserRelation r on r.userId=o.id
        WHERE r.userId = #{userId} AND r.orgId = #{orgId}
    </select>

    <select id="userNotInProject" resultType="boolean" statementType="CALLABLE">
        { call user_not_in_project(#{userId,mode=IN,jdbcType=INTEGER}, #{projectId,mode=IN,jdbcType=INTEGER} ) }
    </select>

</mapper>
