<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.CaseHistoryDao" >

    <select id="query" resultType="TstCaseHistory">
        SELECT * FROM TstCaseHistory o WHERE o.caseId=#{caseId}

        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC
    </select>

    <insert id="save" parameterType="TstCaseHistory" useGeneratedKeys="true" keyProperty="id">
        insert into TstCaseHistory
        (title,caseId,
        deleted,disabled,createTime)
        values
        (#{title},#{caseId},
        FALSE,FALSE,NOW() )
    </insert>

    <select id="listByCaseId" parameterType="Map" resultMap="caseHistoryMaps">
        SELECT o.* FROM TstCaseHistory o

        WHERE o.caseId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.createTime DESC LIMIT 10
    </select>

    <resultMap id="caseHistoryMaps" type="TstCaseHistory" autoMapping="true">
        <id column="id" property="id"/>
        <id column="title" property="title"/>
        <id column="descr" property="descr"/>
        <id column="createTime" property="createTime"/>
        <id column="caseId" property="caseId"/>
    </resultMap>

</mapper>
