<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.CaseStepDao" >

    <select id="query" resultType="TstCaseStep">
        SELECT * FROM TstCaseStep o

        WHERE o.caseId=#{caseId}

        AND o.deleted != true AND o.disabled != true
        ORDER BY o.ordr ASC
    </select>

    <select id="listByCaseId" parameterType="Map" resultMap="caseStepMaps">
        SELECT o.* FROM TstCaseStep o

        WHERE o.caseId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.ordr ASC
    </select>

    <insert id="save" parameterType="TstCaseStep" useGeneratedKeys="true" keyProperty="id">
        insert into TstCaseStep
        (opt,expect,ordr,caseId,
        createTime,deleted,disabled,version)
        values
        (#{opt},#{expect},#{ordr},#{caseId},
        NOW(),FALSE,FALSE,0)
    </insert>

    <resultMap id="caseStepMaps" type="TstCaseStep" autoMapping="true">
        <id column="id" property="id"/>
        <id column="opt" property="opt"/>
        <id column="expect" property="expect"/>
        <id column="ordr" property="ordr"/>
        <id column="caseId" property="caseId"/>
    </resultMap>

</mapper>
