<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.CaseInTaskHistoryDao" >

    <select id="query" resultType="TstCaseInTaskHistory">
        SELECT * FROM TstCaseInTaskHistory o WHERE o.caseInTaskId=#{caseInTaskId}

        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC LIMIT 15
    </select>

    <select id="listByCaseInTaskId" parameterType="Map" resultMap="caseInTaskHistoryMap">
        SELECT o.* FROM TstCaseInTaskHistory o

        WHERE o.caseInTaskId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.createTime DESC LIMIT 15
    </select>

    <insert id="save" parameterType="TstCaseInTaskHistory" useGeneratedKeys="true" keyProperty="id">
        insert into TstCaseInTaskHistory
          (title,caseInTaskId,
            deleted,disabled,createTime)
        values
          (#{title},#{caseInTaskId},
            FALSE,FALSE,NOW() )
    </insert>

    <resultMap id="caseInTaskHistoryMap" type="TstCaseInTaskHistory" autoMapping="true">
        <id column="id" property="id"/>
        <id column="title" property="title"/>
        <id column="descr" property="descr"/>
        <id column="createTime" property="createTime"/>
        <id column="caseInTaskId" property="caseInTaskId"/>
        <id column="caseInTaskId" property="caseInTaskId"/>
    </resultMap>

</mapper>
