<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.CaseInTaskDao">

    <select id="query" resultType="TstCaseInTask">
        SELECT cs.id id, cs.name "name", cs."typeId", cs."priorityId",
        o.id "entityId", o."pId", o."isParent", o."status", o."ordr"

        FROM "TstCaseInTask" o
        JOIN "TstCase" cs ON o."caseId" = cs.id

        WHERE o."taskId"=#{taskId}
        <if test="projectId != null">
            AND o."projectId"=#{projectId}
        </if>

        AND NOT o.deleted AND NOT o.disabled
        ORDER BY o."pId", o.ordr
    </select>

    <select id="get" resultType="TstCaseInTask">
        SELECT cs.id   id,
               cs.name "name",
               cs."typeId",
               cs."priorityId",
               o.id    "entityId",
               o."pId",
               o."isParent",
               o."status",
               o.ordr

        FROM "TstCaseInTask" o
                 JOIN "TstCase" cs ON o."caseId" = cs.id

        WHERE o.id = #{id}
    </select>

    <select id="getDetail" resultMap="caseInTaskMap">
        SELECT cs.id id, cs.*, o.id "entityId",
        o."pId", o."isParent", o."status", o.result, o.ordr,
        o."planId", o."taskId"

        FROM "TstCaseInTask" o
        JOIN "TstCase" cs ON o."caseId" = cs.id

        WHERE o.id=#{id}
        <if test="projectId != null">
            AND o."projectId"=#{projectId}
        </if>
    </select>

    <update id="setResult">
        update "TstCaseInTask"
        set result = #{result},
            status = #{status},
            "exeBy" = #{exeBy},
            "exeTime" = NOW()

        where id = #{id}
    </update>

    <resultMap id="caseInTaskMap" type="com.ngtesting.platform.model.TstCaseInTask" autoMapping="true">
        <id column="id" property="id"/>
        <id column="entityId" property="entityId"/>

        <collection property="steps" select="com.ngtesting.platform.dao.CaseStepDao.listByCaseId"
                    column="{id=id}">
        </collection>

        <collection property="comments" select="com.ngtesting.platform.dao.CaseInTaskCommentsDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>

        <collection property="attachments"
                    select="com.ngtesting.platform.dao.CaseInTaskAttachmentDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>

        <collection property="issues" select="com.ngtesting.platform.dao.CaseInTaskIssueDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>

        <collection property="histories" select="com.ngtesting.platform.dao.CaseInTaskHistoryDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>
    </resultMap>

</mapper>
