<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.CaseInTaskDao" >

    <select id="query" resultType="TstCaseInTask">
        SELECT cs.id id, cs.name name, cs.typeId, cs.priorityId,
          o.id entityId, o.pId pId, o.isLeaf isLeaf, o.status status, o.ordr ordr

        FROM TstCaseInTask o
        JOIN TstCase cs ON o.caseId = cs.id

        WHERE o.taskId=#{taskId}
        <if test="projectId != null">
            AND o.projectId=#{projectId}
        </if>

        AND o.deleted != true AND o.disabled != true
        ORDER BY o.pId, o.ordr
    </select>

    <select id="get" resultType="TstCaseInTask">
        SELECT cs.id id, cs.name name, cs.typeId, cs.priorityId,
        o.id entityId, o.pId pId, o.isLeaf isLeaf, o.status status, o.ordr ordr

        FROM TstCaseInTask o
        JOIN TstCase cs ON o.caseId = cs.id

        WHERE o.id=#{id}
    </select>

    <select id="getDetail" resultMap="caseInTaskMap">
        SELECT cs.id id, cs.*, o.id entityId,
          o.pId pId, o.isLeaf isLeaf, o.status status, o.result result, o.ordr ordr,
          o.planId planId, o.taskId taskId

        FROM TstCaseInTask o
        JOIN TstCase cs ON o.caseId = cs.id

        WHERE o.id=#{id}
        <if test="projectId != null">
            AND o.projectId=#{projectId}
        </if>
    </select>

    <update id="setResult">
        update TstCaseInTask o
        set o.result=#{result},
        o.status=#{status},
        o.exeBy=#{exeBy},
        o.exeTime=NOW()

        where o.id = #{id}
    </update>

    <resultMap id="caseInTaskMap" type="TstCaseInTask" autoMapping="true">
        <id column="id" property="id"/>
        <id column="entityId" property="entityId"/>

        <collection property="steps" select="com.ngtesting.platform.dao.CaseStepDao.listByCaseId"
                    column="{id=id}">
        </collection>

        <collection property="comments" select="com.ngtesting.platform.dao.CaseInTaskCommentsDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>

        <collection property="attachments" select="com.ngtesting.platform.dao.CaseInTaskAttachmentDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>

        <collection property="issues" select="com.ngtesting.platform.dao.CaseInTaskIssueDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>

        <collection property="histories" select="com.ngtesting.platform.dao.CaseInTaskHistoryDao.listByCaseInTaskId"
                    column="{id=entityId}">
        </collection>
    </resultMap>

</mapper>
