<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.CaseInTaskAttachmentDao" >

    <select id="query" resultType="TstCaseInTaskAttachment">
        SELECT * FROM TstCaseInTaskAttachment o

        WHERE o.caseInTaskId=#{caseInTaskId}
        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC LIMIT 15
    </select>

    <select id="listByCaseInTaskId" parameterType="Map" resultMap="caseInTaskAttachmentMap">
        SELECT o.* FROM TstCaseInTaskAttachment o

        WHERE o.caseInTaskId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.createTime DESC LIMIT 15
    </select>

    <select id="get" resultType="TstCaseInTaskAttachment">
        SELECT * FROM TstCaseInTaskAttachment o

        WHERE o.id=#{id}
    </select>

    <insert id="save" parameterType="TstCaseInTaskAttachment" useGeneratedKeys="true" keyProperty="id">
        insert into TstCaseInTaskAttachment
        (name,uri,caseInTaskId,userId,
          deleted,disabled,createTime)
        values (#{name},#{uri},#{caseInTaskId},#{userId},
          #{deleted},#{disabled},#{createTime})
    </insert>

    <update id="delete">
        UPDATE TstCaseInTaskAttachment
        SET disabled=TRUE
        WHERE id=#{id} AND userId=#{userId}
    </update>

    <resultMap id="caseInTaskAttachmentMap" type="TstCaseInTaskAttachment" autoMapping="true">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="caseInTaskId" property="caseInTaskId"/>
        <id column="userId" property="userId"/>
        <id column="createTime" property="createTime"/>
    </resultMap>

</mapper>
