<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.CustomFieldOptionDao" >

    <select id="listByFieldId" resultType="CustomFieldOption">
        SELECT o.* FROM CustomFieldOption o

        WHERE o.fieldId = #{fieldId} AND o.orgId = #{orgId}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.ordr ASC
    </select>
    <select id="get" resultType="CustomFieldOption">
        SELECT o.* FROM CustomFieldOption o
        WHERE o.id = #{id} AND o.fieldId=#{fieldId} AND o.orgId=#{orgId}
    </select>

    <insert id="save" parameterType="CustomFieldOption" useGeneratedKeys="true" keyProperty="id">
        insert into CustomFieldOption
        (label,value,ordr,fieldId,orgId,defaultVal,buildIn,
          createTime,deleted,disabled)
        values
        (#{label},#{value},#{ordr},#{fieldId},#{orgId},#{defaultVal},#{buildIn},
          NOW(),FALSE,FALSE)
    </insert>

    <update id="update">
        UPDATE CustomFieldOption
        SET label =#{label}, value=#{value}, defaultVal=#{defaultVal}, updateTime=NOW()
        where id = #{id}  AND orgId = #{orgId}
    </update>
    <update id="delete">
        UPDATE CustomFieldOption
        SET deleted = TRUE
        where id = #{id} AND orgId = #{orgId}
    </update>

    <select id="getMaxOrder" resultType="int">
        SELECT max(o.ordr) FROM CustomFieldOption o

        WHERE o.fieldId=#{fieldId} AND o.orgId = #{orgId}
        AND o.deleted != true AND o.disabled != true
    </select>

    <select id="getPrev" resultType="CustomFieldOption">
        <![CDATA[
            SELECT * FROM CustomFieldOption o
            WHERE o.ordr < #{ordr}
            AND o.fieldId = #{fieldId} AND o.orgId = #{orgId}
            AND o.deleted != TRUE
            ORDER BY o.ordr DESC LIMIT 1
        ]]>
    </select>

    <select id="getNext" resultType="CustomFieldOption">
        <![CDATA[
            SELECT * FROM CustomFieldOption o
            WHERE o.ordr > #{ordr}
            AND o.fieldId = #{fieldId} AND o.orgId = #{orgId}
            AND o.deleted != TRUE
            ORDER BY o.ordr ASC LIMIT 1
        ]]>
    </select>

    <update id="setOrder">
        UPDATE CustomFieldOption
        SET ordr=#{ordr}, updateTime=NOW()
        WHERE id=#{id}
    </update>

    <update id="setDefault">
        UPDATE CustomFieldOption
        SET defaultVal=TRUE, updateTime=NOW()
        WHERE id=#{id} AND fieldId=#{fieldId} AND orgId=#{orgId}
    </update>
    <update id="removeDefault">
        UPDATE CustomFieldOption
        SET defaultVal=FALSE, updateTime=NOW()
        WHERE fieldId=#{fieldId} AND orgId=#{orgId}
    </update>

    <!-- 级联抓取用 -->
    <select id="getByFieldId" resultMap="optionMap">
        SELECT o.* FROM CustomFieldOption o

        WHERE o.fieldId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.ordr ASC
    </select>
    <resultMap id="optionMap" type="CustomFieldOption" autoMapping="true">
        <id column="id" property="id"/>
        <id column="label" property="label"/>
        <id column="value" property="value"/>
        <id column="ordr" property="ordr"/>
    </resultMap>

</mapper>
