<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.HistoryDao" >

    <select id="listByProject" resultType="TstHistory">
        SELECT o.*

        FROM TstHistory o

        JOIN TstProject p ON o.projectId=p.id

        WHERE o.projectId=#{projectId}
        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC
    </select>

    <select id="listByProjectGroup" resultType="TstHistory">
        SELECT o.*

        FROM TstHistory o
        JOIN TstProject p ON o.projectId=p.id

        WHERE p.parentId=#{projectId}
        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC
    </select>

    <select id="listByOrg" resultType="TstHistory">
        SELECT o.*

        FROM TstHistory o
        JOIN TstProject p ON o.projectId=p.id

        WHERE p.orgId=#{orgId}
        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC
    </select>

    <select id="get" resultType="TstHistory">
        SELECT o.*

        FROM TstHistory o
        WHERE p.id=#{id}
    </select>

    <insert id="create" parameterType="TstHistory" useGeneratedKeys="true" keyProperty="id">
        insert into TstHistory
        (title,projectId,entityId,entityType,userId,
        deleted,disabled,createTime)
        values
        (#{title},#{projectId},#{entityId},#{entityType},#{userId},
        FALSE,FALSE,NOW() )
    </insert>

</mapper>
