<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueWorkflowDao">

    <select id="list" resultType="IsuWorkflow">
        SELECT o.*

        FROM "IsuWorkflow" o

        WHERE o."orgId" = #{orgId}
          AND NOT o.deleted
          AND NOT o.disabled
          ORDER BY o."createTime" ASC
    </select>

    <select id="get" resultType="IsuWorkflow">
        SELECT o.*
        FROM "IsuWorkflow" o

        WHERE o.id = #{id}
          AND o."orgId" = #{orgId}
          AND NOT o.deleted
          AND NOT o.disabled
    </select>

    <select id="getDefault" resultType="IsuWorkflow">
        SELECT o.*
        FROM "IsuWorkflow" o

        WHERE o."defaultVal"
          AND o."orgId" = #{orgId}
          AND NOT o.deleted
          AND NOT o.disabled
    </select>

    <insert id="save" parameterType="IsuWorkflow" useGeneratedKeys="true" keyProperty="id">
        insert into "IsuWorkflow" (name, descr, "orgId", "defaultVal", "buildIn", deleted, disabled, "createTime")
        values (#{name}, #{descr}, #{orgId}, #{defaultVal}, #{buildIn}, FALSE, FALSE, NOW())
    </insert>

    <update id="update" parameterType="IsuPage">
        UPDATE "IsuWorkflow"
        SET name = #{name},
            descr = #{descr},
            "updateTime" = NOW()

        WHERE id = #{id}
          AND "orgId" = #{orgId}
    </update>

    <update id="removeDefault">
        UPDATE "IsuWorkflow"
        SET "defaultVal" = FALSE,
            "updateTime" = NOW()
        WHERE "orgId" = #{orgId}
    </update>
    <update id="setDefault">
        UPDATE "IsuWorkflow"
        SET "defaultVal" = TRUE,
            "updateTime" = NOW()
        WHERE id = #{id}
          AND "orgId" = #{orgId}
    </update>

    <delete id="delete">
        UPDATE "IsuWorkflow"
        SET disabled     = TRUE,
            "updateTime" = NOW()
        WHERE id = #{id}
          AND "orgId" = #{orgId}
    </delete>

    <insert id="saveStatuses">
        insert into "IsuWorkflowStatusRelation"
        ("orgId","workflowId","statusId")
        values
        <foreach collection="statusIds" item="item" separator=",">
            (#{orgId}, #{workflowId}, #{item} )
        </foreach>
    </insert>
    <delete id="removeStatuses">
        DELETE
        FROM "IsuWorkflowStatusRelation"
        WHERE "workflowId" = #{workflowId}
    </delete>
    <!--    <update id="updateStatuses" statementType="CALLABLE">
        { call update_workflow_statuses(
              #{workflowId,mode=IN,jdbcType=INTEGER},
              #{statusIds,mode=IN,jdbcType=VARCHAR}
        ) }
    </update>-->

    <select id="listStatus" resultType="IsuStatus">
        SELECT o.*
        FROM "IsuStatus" o
                 JOIN "IsuWorkflowStatusRelation" r ON o.id = r."statusId"

        WHERE r."workflowId" = #{workflowId}
          AND NOT o.deleted
          AND NOT o.disabled
        order by o.ordr asc
    </select>

</mapper>
