<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssuePrioritySolutionDao">

    <select id="list" resultType="IsuPrioritySolution">
        SELECT *
        FROM "IsuPrioritySolution" o
        WHERE o."orgId" = #{orgId}
          AND NOT o.disabled
          AND NOT o.deleted
        ORDER BY id ASC
    </select>

    <!--<select id="get" resultType="IsuPrioritySolution">-->
    <!--SELECT * FROM IsuPrioritySolution o-->

    <!--WHERE o.id = #{id}-->
    <!--<if test="orgId != null">-->
    <!--AND o.orgId=#{orgId}-->
    <!--</if>-->
    <!--</select>-->

    <select id="getDetail" resultMap="isuPrioritySolutionMap">
        SELECT *
        FROM "IsuPrioritySolution" o

        WHERE o.id = #{id}
          AND o."orgId" = #{orgId}
    </select>

    <insert id="save" parameterType="IsuPrioritySolution" useGeneratedKeys="true" keyProperty="id">
        insert into "IsuPrioritySolution" (name, "orgId", "defaultVal", "buildIn", deleted, disabled, "createTime")
        values (#{name}, #{orgId}, #{defaultVal}, #{buildIn}, FALSE, FALSE, NOW())
    </insert>

    <update id="update" parameterType="IsuPrioritySolution">
        UPDATE "IsuPrioritySolution"
        SET name = #{name},
            disabled = #{disabled},
            "updateTime" = NOW()

        WHERE id = #{id}
          AND "orgId" = #{orgId}
    </update>

    <delete id="delete">
        UPDATE "IsuPrioritySolution"
        SET disabled     = TRUE,
            "updateTime" = NOW()
        WHERE id = #{id}
          AND "orgId" = #{orgId}
    </delete>

    <update id="removeDefault">
        UPDATE "IsuPrioritySolution"
        SET "defaultVal" = FALSE,
            "updateTime" = NOW()
        WHERE "orgId" = #{orgId}
    </update>
    <update id="setDefault">
        UPDATE "IsuPrioritySolution"
        SET "defaultVal" = TRUE,
            "updateTime" = NOW()
        WHERE id = #{id}
          AND "orgId" = #{orgId}
    </update>

    <insert id="addPriority">
        insert into "IsuPrioritySolutionItem" ("priorityId", "solutionId", "orgId")
        values (#{priorityId}, #{solutionId}, #{orgId});
    </insert>

    <delete id="removePriority">
        DELETE
        FROM "IsuPrioritySolutionItem"
        WHERE "priorityId" = #{priorityId}
          AND "solutionId" = #{solutionId}
          AND "orgId" = #{orgId}
    </delete>

    <insert id="addAll">
        insert into "IsuPrioritySolutionItem"
        ("priorityId","solutionId","orgId")
        values
        <foreach collection="priorities" item="item" separator=",">
            ( #{item.id}, #{solutionId}, #{orgId} )
        </foreach>
    </insert>

    <delete id="removeAll">
        DELETE
        FROM "IsuPrioritySolutionItem"
        WHERE "solutionId" = #{solutionId}
          AND "orgId" = #{orgId}
    </delete>

    <resultMap id="isuPrioritySolutionMap" type="com.ngtesting.platform.model.IsuPrioritySolution" autoMapping="true">
        <id column="id" property="id"/>

        <collection property="items" select="com.ngtesting.platform.dao.IssuePriorityDao.listBySolutionId"
                    column="{solutionId=id},{orgId=orgId}">
        </collection>
    </resultMap>

    <!-- For Project -->
    <select id="getByProject" resultMap="isuPrioritySolutionMap">
        SELECT *
        FROM "IsuPrioritySolution" o
                 JOIN "TstProject" p ON p."issuePrioritySolutionId" = o.id
        WHERE p.id = #{projectId}
          AND o."orgId" = #{orgId}
    </select>
    <update id="setByProject">
        UPDATE "TstProject"
        SET "issuePrioritySolutionId" = #{solutionId},
            "updateTime" = NOW()

        WHERE id = #{projectId}
          AND "orgId" = #{orgId}
    </update>

</mapper>
