<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueDao" >
    <select id="get" resultType="IsuIssue">
        SELECT * FROM IsuIssue o
        WHERE o.id = #{id}
        <if test="orgId != null">
            AND o.orgId=#{orgId}
        </if>
    </select>
</mapper>
