<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueLinkDao" >

    <insert id="link">
        INSERT INTO IsuLink
          (srcIssueId, dictIssueId, reasonId, reasonName)
        SELECT ${srcIssueId}, ${dictIssueId}, ${reasonId}, '${reasonName}' FROM dual
        WHERE NOT EXISTS (
            SELECT * FROM IsuLink WHERE srcIssueId = ${srcIssueId}
                                  AND dictIssueId=${dictIssueId}
                                  AND reasonId=${reasonId}
        )
    </insert>

    <select id="listLinkReason" resultType="IsuLinkReason">
        SELECT * FROM IsuLinkReasonDefine o

        WHERE o.deleted != TRUE
        AND o.disabled != TRUE
        ORDER BY o.id ASC
    </select>

    <select id="listByIssueId" parameterType="Map" resultMap="issueLinkMap">
        SELECT l.reasonId, l.reasonName, o.id, o.title FROM IsuIssue o
        JOIN IsuLink l ON l.dictIssueId = o.id
        WHERE l.srcIssueId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY l.reasonId ASC, l.id ASC
    </select>

    <resultMap id="issueLinkMap" type="Map" autoMapping="true">
        <id column="id" property="id"/>
        <id column="title" property="title"/>
        <id column="reasonId" property="reasonId"/>
        <id column="reasonName" property="reasonName"/>
    </resultMap>

</mapper>
