<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueOptDao" >

    <update id="statusTran">
        UPDATE IsuIssue
        SET statusId=#{dictStatusId}, updateTime=NOW()

        <if test="finalVal != null and finalVal == true">
            ,setFinalTime = NOW()
        </if>

        WHERE id=#{id} AND projectId=#{projectId}
    </update>

    <update id="assign">
        UPDATE IsuIssue
        SET assigneeId=#{userId}, updateTime=NOW()
        WHERE id=#{id} AND projectId=#{projectId}
    </update>

</mapper>
