<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssuePriorityDao" >

    <select id="list" resultType="IsuPriority">
        SELECT * FROM IsuPriority o
        WHERE o.orgId=#{orgId}

        AND o.disabled!=TRUE AND o.deleted!=TRUE
        ORDER BY ordr ASC
    </select>

    <select id="get" resultType="IsuPriority">
        SELECT * FROM IsuPriority o

        WHERE o.id = #{id}
        <if test="orgId != null">
            AND o.orgId=#{orgId}
        </if>
    </select>

    <insert id="save" parameterType="IsuPriority" useGeneratedKeys="true" keyProperty="id">
        insert into IsuPriority
        (label,value,descr,orgId,ordr,isDefault,deleted,disabled,createTime)
        values
        (#{label},#{value},#{descr},#{orgId},#{ordr},#{isDefault},FALSE,FALSE,NOW())
    </insert>

    <update id="update" parameterType="IsuPriority">
        UPDATE IsuPriority
        SET label=#{label},value=#{value},descr=#{descr},
        disabled=#{disabled},
        updateTime=NOW()

        WHERE id=#{id} AND orgId=#{orgId}
    </update>

    <delete id="delete">
        UPDATE IsuPriority
        SET disabled=TRUE, updateTime=NOW()
        WHERE id=#{id} AND orgId=#{orgId}
    </delete>

    <update id="removeDefault">
        UPDATE IsuPriority
        SET isDefault=FALSE, updateTime=NOW()
        WHERE orgId=#{orgId}
    </update>
    <update id="setDefault">
        UPDATE IsuPriority
        SET isDefault=TRUE, updateTime=NOW()
        WHERE id=#{id} AND orgId=#{orgId}
    </update>

    <update id="setOrder">
        UPDATE IsuPriority
        SET ordr=#{ordr}, updateTime=NOW()
        WHERE id=#{id} AND orgId=#{orgId}
    </update>

    <select id="getPrev" resultType="IsuPriority">
        <![CDATA[
            SELECT * FROM IsuPriority o
            WHERE o.ordr < #{ordr} AND o.orgId = #{orgId}
            AND o.deleted != TRUE
            ORDER BY o.ordr DESC LIMIT 1
        ]]>
    </select>

    <select id="getNext" resultType="IsuPriority">
        <![CDATA[
            SELECT * FROM IsuPriority o
            WHERE o.ordr > #{ordr} AND o.orgId = #{orgId}
            AND o.deleted != TRUE
            ORDER BY o.ordr ASC LIMIT 1
        ]]>
    </select>

    <select id="getMaxOrdrNumb" resultType="Integer">
        select max(ordr) from IsuPriority o
        where o.orgId=#{orgId}
        and o.deleted != true
        and o.disabled != true
    </select>

</mapper>
