<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueLinkDao" >

    <insert id="link">
        INSERT INTO IsuLink
          (srcIssueId, dictIssueId, reasonId, reasonName)
        SELECT ${srcIssueId}, ${dictIssueId}, ${reasonId}, '${reasonName}' FROM dual
        WHERE NOT EXISTS (
            SELECT * FROM IsuLink WHERE srcIssueId = ${srcIssueId}
                                  AND dictIssueId=${dictIssueId}
                                  AND reasonId=${reasonId}
        )
    </insert>

    <select id="listLinkReason" resultType="IsuLinkReason">
        SELECT * FROM IsuLinkReasonDefine o

        WHERE o.deleted != TRUE
        AND o.disabled != TRUE
        ORDER BY o.id ASC
    </select>

</mapper>
