<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueFieldDao" >

    <select id="listDefaultFilter" resultType="IsuFieldDefine">
        SELECT * FROM IsuFieldDefine
        WHERE defaultShowInFilters IS NOT NULL
        ORDER BY filterOrdr ASC
    </select>

    <select id="listDefaultField" resultType="IsuFieldDefine">
        SELECT * FROM IsuFieldDefine
        WHERE defaultShowInColumns IS NOT NULL
        ORDER BY columnOrdr ASC
    </select>

    <select id="getSysField" resultType="IsuField">
        SELECT CONCAT('sys-', field.id) `key`, field.id fieldId, field.code, field.label,
          field.type, field.input, field.fullLine, field.required, field.readonly,
          field.columnOrdr ordr

        FROM Isufield field
        WHERE id = #{id} AND orgId = #{orgId} AND field.defaultShowInPage IS NOT null
    </select>

    <select id="getCustField" resultType="IsuField">
        SELECT CONCAT('cust-', customField.id) `key`, customField.id fieldId, customField.colCode code, customField.label,
          customField.type, customField.input, false AS fullLine, customField.required, customField.readonly,
          customField.ordr

        FROM IsuCustomField customField

        WHERE id = #{id} AND orgId = #{orgId}
    </select>

    <select id="listInput" resultType="Map">
        SELECT o.id, o.label, o.value
        FROM IsuFieldIputDefine o
        ORDER BY o.ordr
    </select>
    <select id="listType" resultType="Map">
        SELECT o.id, o.label, o.value
        FROM IsuFieldTypeDefine o
        ORDER BY o.ordr
    </select>

    <select id="fetchInputMap" resultMap="inputMap">
        SELECT o.id, o.label, o.value
        FROM IsuFieldIputDefine o
        ORDER BY o.ordr
    </select>
    <select id="listFieldTypeByInput" resultType="Map">
        SELECT o.id, o.label, o.value
        FROM IsuFieldTypeDefine o
        JOIN IsuFieldInputTypeRelation r ON o.value = r.typeValue

        WHERE r.inputValue = #{value}

        ORDER BY o.ordr
    </select>

    <resultMap id="inputMap" type="Map" autoMapping="true">
        <id column="value" property="value"/>

        <collection property="types" select="listFieldTypeByInput"
                    column="{value=value}">
        </collection>
    </resultMap>

</mapper>
