<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueFieldDao" >

    <select id="listDefaultFilter" resultType="IsuFieldDefine">
        SELECT * FROM IsuFieldDefine
        WHERE defaultShowInFilters IS NOT NULL
        ORDER BY filterOrdr ASC
    </select>

    <select id="listDefaultField" resultType="IsuFieldDefine">
        SELECT * FROM IsuFieldDefine
        WHERE defaultShowInColumns IS NOT NULL
        ORDER BY columnOrdr ASC
    </select>

    <select id="listOrgField" resultType="IsuField">
        SELECT fields.*
        FROM ( (SELECT CONCAT('sys-', fieldDefine.id) `key`, fieldDefine.id, fieldDefine.code, fieldDefine.label,
              fieldDefine.type, fieldDefine.input, fieldDefine.fullLine,
              fieldDefine.columnOrdr ordr

            FROM IsuFieldDefine fieldDefine
            WHERE fieldDefine.defaultShowInPage IS NOT null
            ORDER BY fieldDefine.elemOrdr ASC)

            UNION

            (SELECT CONCAT('cust-', customField.id) `key`, customField.id, customField.myColumn code, customField.label,
              customField.type, customField.input, false AS fullLine,
              customField.ordr

            FROM IsuCustomField customField

            WHERE orgId = #{orgId}
            ORDER BY customField.ordr ASC)
        ) fields
        WHERE fields.key
        NOT IN (
          SELECT elem.key FROM IsuPageElement elem WHERE elem.tabId = #{tabId}
        )
    </select>

    <select id="listOrgFieldDetail" resultType="IsuField">

    </select>

</mapper>
