<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssuePageDao" >

    <select id="list" resultMap="issuePageMap">
        SELECT page.*

        FROM IsuPage page

        WHERE page.orgId=#{orgId}
        AND page.deleted != TRUE AND page.disabled != TRUE
        ORDER BY page.createTime ASC
    </select>

    <select id="listTabByPageId" parameterType="Map" resultMap="issuePageTabMap">
        SELECT o.* FROM IsuPageTab o

        WHERE o.pageId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.ordr ASC
    </select>

    <select id="listElementByTabId" parameterType="Map" resultType="IsuPageElement">
        SELECT o.* FROM IsuPageElement o

        WHERE o.tabId = #{id}
        AND o.deleted != true AND o.disabled != true

        ORDER BY o.ordr ASC
    </select>

    <select id="get" resultMap="issuePageMap">
        SELECT o.* FROM IsuPage o

        WHERE o.id = #{id} AND orgId = #{orgId}
        AND o.deleted != true AND o.disabled != true
    </select>

    <insert id="save" parameterType="IsuPage" useGeneratedKeys="true" keyProperty="id">
        insert into IsuPage
        (name, orgId, deleted, disabled, createTime)
        values
        (#{name}, #{orgId}, FALSE, FALSE, NOW())
    </insert>

    <insert id="saveDefaultTab" useGeneratedKeys="true" keyProperty="id">
        insert into IsuPageTab
        (name, pageId, orgId, deleted, disabled, createTime)
        values
        ('默认标签', #{pageId}, #{orgId}, FALSE, FALSE, NOW())
    </insert>

    <update id="update" parameterType="IsuPage">
        UPDATE IsuPage
        SET name=#{name}, updateTime=NOW()

        WHERE id=#{id} AND orgId=#{orgId}
    </update>

    <delete id="delete">
        UPDATE IsuPage
        SET disabled=TRUE, updateTime=NOW()
        WHERE id=#{id} AND orgId=#{orgId}
    </delete>

    <resultMap id="issuePageMap" type="IsuPage" autoMapping="true">
        <id column="id" property="id"/>

        <collection property="tabs" select="listTabByPageId"
                    column="{id=id}">
        </collection>
    </resultMap>

    <resultMap id="issuePageTabMap" type="IsuPageTab" autoMapping="true">
        <id column="id" property="id"/>

        <collection property="elements" select="listElementByTabId"
                    column="{id=id}">
        </collection>
    </resultMap>

</mapper>
