<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.IssueTqlDao" >

    <select id="query" resultType="IsuIssue">
        SELECT id, ${columns} FROM IsuIssue
        WHERE ${conditions}
        AND deleted != true AND disabled != true
        ORDER BY createTime DESC
    </select>

</mapper>
