<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ngtesting.platform.dao.OrgRolePrivilegeRelationDao">

    <select id="query" resultType="TstOrgRolePrivilegeRelation">
        SELECT * FROM "TstOrgRolePrivilegeRelation" o
        WHERE o."orgId"=#{orgId}
        <if test="roleId != null">
            AND o."orgRoleId" = #{roleId}
        </if>
        <if test="privilegeId != null">
            AND o."orgPrivilegeId" = #{privilegeId}
        </if>
        ORDER BY o."orgPrivilegeId" ASC
    </select>

    <delete id="removeAllPrivilegesForRole">
        DELETE
        FROM "TstOrgRolePrivilegeRelation"
        WHERE "orgId" = #{orgId}
          AND "orgRoleId" = #{roleId}
    </delete>
    <delete id="removeAllRolesForPrivilege">
        DELETE
        FROM "TstOrgRolePrivilegeRelation"
        WHERE "orgId" = #{orgId}
          AND "orgPrivilegeId" = #{privilegeId}
    </delete>

    <insert id="saveRelations">
        insert into "TstOrgRolePrivilegeRelation" ("orgId","orgRoleId","orgPrivilegeId")
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orgId},#{item.orgRoleId}, #{item.orgPrivilegeId})
        </foreach>
    </insert>

</mapper>
