<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.OrgRoleUserRelationDao">

    <select id="query" resultType="TstOrgRoleUserRelation">
        SELECT * FROM "TstOrgRoleUserRelation" o WHERE o."orgId"=#{orgId}
        <if test="roleId != null">
            AND o."orgRoleId" = #{roleId}
        </if>
        <if test="userId != null">
            AND o."userId" = #{userId}
        </if>
        ORDER BY o."userId" ASC
    </select>

    <delete id="removeAllRolesForUser">
        DELETE
        FROM "TstOrgRoleUserRelation"
        WHERE "orgId" = #{orgId}
          AND "userId" = #{userId}
    </delete>
    <delete id="removeAllUsersForRole">
        DELETE
        FROM "TstOrgRoleUserRelation"
        WHERE "orgId" = #{orgId}
          AND "orgRoleId" = #{roleId}
    </delete>

    <insert id="saveRelations">
        insert into "TstOrgRoleUserRelation" ("orgId","orgRoleId","userId")
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orgId},#{item.orgRoleId}, #{item.userId})
        </foreach>
    </insert>

</mapper>
