<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.ProjectConfigDao" >

    <select id="getTypeSolution" resultType="IsuTypeSolution">
        SELECT * FROM IsuTypeSolution o
        JOIN TstProject p ON p.issueTypeSolutionId=o.id
        WHERE p.id = #{projectId}
    </select>

</mapper>
