<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.ProjectDao" >

    <select id="query" resultMap="projectMaps">
        SELECT #{keywordsParam} as keywordsParam,
               #{disabledParam} as disabledParam,
               p.* FROM TstProject p WHERE p.orgId=#{orgId} AND p.type='group'
        <if test="keywordsParam != null and keywordsParam != ''">
            AND p.name LIKE CONCAT('%','${keywordsParam}','%' )
        </if>
        <if test="disabledParam != null and disabledParam != ''">
            AND p.disabledParam = #{disabledParam}
        </if>
        AND p.deleted != TRUE
        ORDER BY p.id
    </select>
    <select id="getChildren" parameterType="Map" resultType="TstProject">
      SELECT c.* FROM TstProject c
        WHERE c.parentId = #{id} AND c.type='project'
        <if test="keywordsParam != null and keywordsParam != ''">
            AND c.name LIKE CONCAT('%','${keywordsParam}','%' )
        </if>
        <if test="disabledParam != null and disabledParam != ''">
            AND c.disabled = #{disabledParam}
        </if>
        AND c.deleted != TRUE
        ORDER BY c.id
    </select>

    <select id="queryIdAndName" resultType="Map">
        SELECT p.id, p.name
        FROM TstProject p WHERE p.orgId=#{orgId} AND p.type='project'
        AND p.deleted != TRUE AND p.disabled != TRUE
        ORDER BY p.id
    </select>

    <select id="get" parameterType="Integer" resultType="TstProject">
        SELECT * FROM TstProject p WHERE p.id = #{id}
    </select>
    <delete id="delete">
        UPDATE TstProject
        SET deleted=TRUE, updateTime=NOW()
        WHERE id=#{id}
    </delete>

    <insert id="genHistory">
      { call gen_project_access_history(
                #{orgId,mode=IN,jdbcType=INTEGER},
                #{userId,mode=IN,jdbcType=INTEGER},
                #{prjId,mode=IN,jdbcType=INTEGER},
                #{prjName,mode=IN,jdbcType=CHAR}
             ) }
    </insert>

    <select id="listRecent" resultType="TstProjectAccessHistory">
        SELECT * FROM TstProjectAccessHistory his
        JOIN TstProject prj on his.prjId = prj.id
        WHERE his.orgId = #{orgId}
            AND his.userId = #{userId}

            AND prj.deleted != TRUE
            AND prj.disabled != TRUE
        ORDER BY his.lastAccessTime DESC
    </select>

    <select id="isLastestProjectGroup" resultType="INTEGER">
        SELECT COUNT(prj.id) FROM TstProject prj

        WHERE prj.orgId = #{orgId}
        AND prj.id != #{projectGroupId}
        AND prj.type = 'group'

        AND prj.deleted != TRUE
        AND prj.disabled != TRUE
        ORDER BY prj.id
    </select>

    <select id="listBrothers" resultType="TstProject">
        SELECT * FROM TstProject prj
        JOIN TstProject temp ON temp.parentId = prj.parentId
        WHERE temp.id=#{id}
        ORDER BY prj.id
    </select>
    <select id="listBrotherIds" resultType="int">
        SELECT prj.id FROM TstProject prj
        JOIN TstProject temp ON temp.parentId = prj.parentId
        WHERE temp.id=#{id}
        ORDER BY prj.id
    </select>
    <select id="listProjectGroups" resultType="TstProject">
        SELECT * FROM TstProject prj

        WHERE prj.orgId = #{orgId}
        AND prj.type = 'group'

        AND prj.deleted != TRUE
        AND prj.disabled != TRUE
        ORDER BY prj.id
    </select>

    <select id="getProjectsByOrg" resultType="TstProject">
        SELECT * FROM TstProject prj

        WHERE prj.orgId = #{orgId}
        AND prj.type = 'project'

        AND prj.deleted != TRUE
        AND prj.disabled != TRUE
        ORDER BY prj.id
    </select>

    <insert id="save" parameterType="TstProject" useGeneratedKeys="true" keyProperty="id">
        insert into TstProject (name,descr,orgId,parentId,type,
          deleted,disabled,createTime)

        values (#{name},#{descr},#{orgId},#{parentId},#{type},
          #{deleted},#{disabled},#{createTime})
    </insert>
    <update id="update" parameterType="TstProject">
        UPDATE TstProject
        SET name=#{name}, descr=#{descr}, orgId=#{orgId}, parentId=#{parentId}, disabled=#{disabled}
        WHERE id=#{id}
    </update>

    <update id="enable" parameterType="TstProject">
        UPDATE TstProject
        SET disabled=FALSE
        WHERE id=#{id}
    </update>
    <update id="enableChildren" parameterType="TstProject">
        UPDATE TstProject
        SET disabled=FALSE
        WHERE parentId=#{id}
    </update>
    <update id="disableChildren" parameterType="TstProject">
        UPDATE TstProject
        SET disabled=TRUE
        WHERE parentId=#{id}
    </update>

    <update id="setDefault">
        UPDATE TstUser
        SET defaultPrjId=#{prjId}, defaultPrjName=#{prjName}
        WHERE id=#{id}
    </update>
    <update id="setUserDefaultPrjToNullForDelete">
        UPDATE TstUser
        SET defaultPrjId=NULL, defaultPrjName=NULL
        WHERE defaultPrjId=#{prjId}
    </update>

    <resultMap id="projectMaps" type="TstProject" autoMapping="true">
        <id column="id" property="id"/>

        <collection property="children" ofType="TstProject" select="getChildren"
                    column="{id=id,keywordsParam=keywordsParam,disabledParam=disabledParam">
        </collection>
    </resultMap>

</mapper>
