<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.ProjectRoleEntityRelationDao" >

    <select id="listByProject" resultType="TstProjectRoleEntityRelation">
        SELECT
          o.*,
          role.name projectRoleName,
          CASE o.type
              WHEN 'user' THEN
                usr.nickname
              WHEN 'group' THEN
                grp.name
              ELSE
                'N/A'
          END entityName

        FROM TstProjectRoleEntityRelation o

        JOIN TstProjectRole role ON role.id = o.projectRoleId

        LEFT JOIN TstUser usr ON usr.id = o.entityId
        LEFT JOIN TstOrgGroup grp ON grp.id = o.entityId

        WHERE o.projectId=#{projectId}

        ORDER BY o.type, role.id ASC
    </select>

    <select id="listIdsByProjectAndUser" resultType="Integer">
      select relation.projectRoleId from TstProjectRoleEntityRelation relation
          where
            (
              (relation.type = 'user' AND relation.entityId = #{userId})
              or (relation.type = 'group' AND
                  relation.entityId in (
                    select grp.id from TstOrgGroup grp
                      left join TstOrgGroupUserRelation relat on relat.orgGroupId = grp.id
                      left join TstUser userr on relat.userId = userr.id
                    where userr.id = #{userId}
                  )
              )
            )
            and relation.projectId = #{projectId}
    </select>

    <insert id="addRole" useGeneratedKeys="true" keyProperty="id">
        insert into TstProjectRoleEntityRelation (orgId,projectId,projectRoleId,entityId,type
          )

        values (#{orgId},#{projectId},#{projectRoleId},#{entityId},#{type}
          )
    </insert>

    <update id="changeRole">
        UPDATE TstProjectRoleEntityRelation
        SET projectRoleId=#{projectRoleId}
        WHERE projectId=#{projectId} AND entityId=#{entityId}
    </update>

    <delete id="remove">
        DELETE FROM TstProjectRoleEntityRelation
        WHERE projectId=#{projectId} AND type=#{type} AND entityId=#{entityId}
    </delete>

</mapper>
