<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.ProjectRoleEntityRelationDao" >

    <select id="listByProject" resultType="TstProjectRoleEntityRelation">
        SELECT * FROM TstProjectRoleEntityRelation o

        WHERE o.projectId=#{projectId}

        AND o.deleted != TRUE AND o.disabled != TRUE
        ORDER BY o.id DESC
    </select>

</mapper>
