<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.ProjectRolePrivilegeRelationDao">

    <select id="listProjectRolePrivileges" resultType="TstProjectRolePriviledgeRelation">
        SELECT *
        FROM "TstProjectRolePriviledgeRelation" o

        WHERE o."projectRoleId" = #{projectRoleId}

        ORDER BY o."projectPrivilegeDefineId" ASC
    </select>

    <delete id="removeAllPrivilegsForRole">
        DELETE
        FROM "TstProjectRolePriviledgeRelation"
        WHERE "projectRoleId" = #{projectRoleId}
    </delete>

    <insert id="saveRelations">
        insert into "TstProjectRolePriviledgeRelation" ("orgId","projectRoleId","projectPrivilegeDefineId")
        values
        <foreach collection="list" item="item" separator=",">
            (#{orgId},#{projectRoleId}, #{item.id})
        </foreach>
    </insert>

</mapper>
