<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.TestEnvDao" >

    <select id="query" resultType="TstEnv">
        SELECT * FROM TstEnv o WHERE TRUE
        <if test="keywords != null and keywords != ''">
            AND o.name LIKE CONCAT('%','${keywords}','%' )
        </if>
        <if test="disabled != null">
            AND o.disabled = #{disabled}
        </if>
        AND o.projectId = #{projectId}
        AND o.deleted != TRUE

        ORDER BY o.ordr ASC
    </select>

    <select id="listLastest" resultType="TstEnv">
        SELECT * FROM TstEnv o
        WHERE o.projectId = #{projectId}
        AND o.deleted != TRUE
        AND o.disabled != TRUE

        ORDER BY o.createTime DESC LIMIT 10
    </select>

    <select id="get" resultType="TstEnv">
        SELECT * FROM TstEnv o
        WHERE o.id = #{id}
        <if test="projectId != null">
            AND o.projectId=#{projectId}
        </if>
    </select>

    <select id="getMaxOrdrNumb" resultType="Integer">
        select max(ordr) from TstEnv tp
        where tp.projectId=#{projectId}
        and tp.deleted != true
        and tp.disabled != true
    </select>

    <insert id="add" parameterType="TstEnv" useGeneratedKeys="true" keyProperty="id">
        insert into TstEnv
        (name,descr,projectId,ordr,deleted,disabled,createTime)
        values
        (#{name},#{descr},#{projectId},#{ordr},FALSE,FALSE,NOW())
    </insert>

    <update id="update" parameterType="TstEnv">
        UPDATE TstEnv
        SET name=#{name},
        descr=#{descr},
        ordr=#{ordr},
        disabled=#{disabled},
        updateTime=NOW()
        WHERE id=#{id}
        <if test="projectId != null">
            AND projectId=#{projectId}
        </if>
    </update>

    <update id="delete">
        UPDATE TstEnv
        SET deleted=TRUE, updateTime=NOW()
        WHERE id=#{id} AND projectId = #{projectId}
    </update>

    <update id="setOrder">
        UPDATE TstEnv
        SET ordr=#{ordr}, updateTime=NOW()
        WHERE id=#{id} AND projectId = #{projectId}
    </update>

    <select id="getPrev" resultType="TstEnv">
        <![CDATA[
            SELECT * FROM TstEnv o
            WHERE o.ordr < #{ordr} AND o.projectId = #{projectId}
            AND o.deleted != TRUE
            ORDER BY o.ordr DESC LIMIT 1
        ]]>
    </select>

    <select id="getNext" resultType="TstEnv">
        <![CDATA[
            SELECT * FROM TstEnv o
            WHERE o.ordr > #{ordr} AND o.projectId = #{projectId}
            AND o.deleted != TRUE
            ORDER BY o.ordr ASC LIMIT 1
        ]]>
    </select>

</mapper>
