<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.TestVerDao">

    <select id="query" resultType="TstVer">
        SELECT * FROM "TstVer" o WHERE TRUE
        <if test="keywords != null and keywords != ''">
            AND o.label LIKE '%${keywords}%'
        </if>
        <if test="disabled != null">
            AND o.disabled = #{disabled}
        </if>
        AND o."projectId" = #{projectId}
        AND NOT o.deleted

        ORDER BY o.ordr ASC
    </select>

    <select id="listLastest" resultType="TstVer">
        SELECT *
        FROM "TstVer" o
        WHERE o."projectId" = #{projectId}
          AND NOT o.deleted
          AND NOT o.disabled

        ORDER BY o."createTime" DESC
        LIMIT 10
    </select>

    <select id="get" resultType="TstVer">
        SELECT * FROM "TstVer" o
        WHERE o.id = #{id}
        <if test="projectId != null">
            AND o."projectId"=#{projectId}
        </if>
    </select>

    <insert id="save" parameterType="TstVer" useGeneratedKeys="true" keyProperty="id">
        insert into "TstVer" (label,
                              "startTime",
                              "endTime",
                              descr,
                              "projectId",
                              "orgId",
                              ordr,
                              deleted,
                              disabled,
                              "createTime")
        values (#{label},
                #{startTime},
                #{endTime},
                #{descr},
                #{projectId},
                #{orgId},
                #{ordr},
                FALSE,
                #{disabled},
                NOW())
    </insert>

    <update id="update" parameterType="TstVer">
        UPDATE "TstVer"
        SET label = #{label},
            "startTime" = #{startTime},
            "endTime" = #{endTime},
            descr = #{descr},
            ordr = #{ordr},
            disabled = #{disabled},
            "updateTime" = NOW()
        WHERE id = #{id}
          AND "projectId" = #{projectId}
    </update>

    <update id="delete">
        UPDATE "TstVer"
        SET deleted      = TRUE,
            "updateTime" = NOW()
        WHERE id = #{id}
          AND "projectId" = #{projectId}
    </update>

    <update id="setOrder">
        UPDATE "TstVer"
        SET ordr = #{ordr},
            "updateTime" = NOW()
        WHERE id = #{id}
          AND "projectId" = #{projectId}
    </update>

    <select id="getMaxOrdrNumb" resultType="Integer">
        select max(ordr)
        from "TstVer" tp
        where tp."projectId" = #{projectId}
          and NOT tp.deleted
          and NOT tp.disabled
    </select>

    <select id="getPrev" resultType="TstVer">
        <![CDATA[
        SELECT *
        FROM "TstVer" o
        WHERE o.ordr < #{ordr}
          AND o."projectId" = #{projectId}
          AND NOT o.deleted
        ORDER BY o.ordr DESC
        LIMIT 1
        ]]>
    </select>

    <select id="getNext" resultType="TstVer">
        <![CDATA[
        SELECT *
        FROM "TstVer" o
        WHERE o.ordr > #{ordr}
          AND o."projectId" = #{projectId}
          AND NOT o.deleted
        ORDER BY o.ordr ASC
        LIMIT 1
        ]]>
    </select>

</mapper>
