<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.TestPlanDao" >

    <select id="query" resultType="TstPlan">
        SELECT o.*, usr.nickname userName, prj.name projectName, ver.name verName
        FROM TstPlan o

        JOIN TstUser usr ON usr.id=o.userId
        JOIN TstProject prj ON prj.id=o.projectId
        LEFT JOIN TstVer ver ON ver.id=o.verId

        WHERE o.projectId = #{projectId}

        <if test="keywords != null and keywords != ''">
            AND o.name LIKE CONCAT('%','${keywords}','%' )
        </if>
        <if test="status != null and status != ''">
            AND o.status = #{status}
        </if>

        AND o.deleted != TRUE
        ORDER BY o.createTime DESC
    </select>

    <select id="listByProject" resultType="TstPlan">
        SELECT o.*,
          p.id projectId, p.name projectName,
          v.id verId, v.name verName

        FROM TstPlan o

        JOIN TstProject p ON o.projectId=p.id
        LEFT JOIN TstVer v ON o.verId=v.id

        WHERE o.projectId=#{projectId}
        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC
    </select>

    <select id="listByProjectGroup" resultType="TstPlan">
        SELECT o.*, p.name projectName, v.name verName FROM TstPlan o
        JOIN TstProject p ON o.projectId=p.id
        LEFT JOIN TstVer v ON o.verId=v.id

        WHERE p.parentId=#{projectId}
        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC
    </select>

    <select id="listByOrg" resultType="TstPlan">
        SELECT o.*, p.name projectName, v.name verName FROM TstPlan o
        JOIN TstProject p ON o.projectId=p.id
        LEFT JOIN TstVer v ON o.verId=v.id

        WHERE p.orgId=#{orgId}
        AND o.deleted != true AND o.disabled != true
        ORDER BY o.createTime DESC
    </select>

    <select id="get" resultType="TstPlan">
        SELECT o.*, usr.nickname userName, prj.name projectName, ver.name verName
        FROM TstPlan o

        JOIN TstUser usr ON usr.id=o.userId
        JOIN TstProject prj ON prj.id=o.projectId
        LEFT JOIN TstVer ver ON ver.id=o.verId

        WHERE o.id = #{id}
    </select>

    <insert id="save" parameterType="TstPlan" useGeneratedKeys="true" keyProperty="id">
        insert into TstPlan (name,estimate,startTime,endTime,descr,status,projectId,userId,verId,
        deleted,disabled,createTime)

        values (#{name},#{estimate},#{startTime},#{endTime},#{descr},#{status},#{projectId},#{userId},#{verId},
        #{deleted},#{disabled},#{createTime})
    </insert>
    <update id="update" parameterType="TstPlan">
        UPDATE TstPlan
        SET name=#{name}, estimate=#{estimate}, startTime=#{startTime}, endTime=#{endTime},
        descr=#{descr}, projectId=#{projectId}, userId=#{userId}, verId=#{verId},
        disabled=#{disabled}

        WHERE id=#{id}
    </update>

    <update id="start">
        UPDATE TstPlan o
        SET o.status = 'in_progress'
        WHERE o.id=#{id} AND o.status != 'in_progress'
    </update>

    <update id="delete">
        UPDATE TstPlan
        SET deleted = TRUE
        WHERE id=#{id}
    </update>

    <update id="closePlanIfAllTaskClosed">
        { call close_plan_if_all_task_closed(
            #{planId,mode=IN,jdbcType=INTEGER}
        )}
    </update>

</mapper>
