<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.TstCustomFieldProjectRelationDao" >

    <select id="query" resultType="TstCustomFieldProjectRelation">
        SELECT * FROM TstCustomFieldProjectRelation o

        WHERE TRUE

        AND o.orgId = #{orgId}
        AND o.customFieldId = #{fieldId}
        ORDER BY o.projectId ASC
    </select>

    <delete id="removeAllProjectsForField">
        DELETE FROM TstCustomFieldProjectRelation
        WHERE orgId=#{orgId} AND customFieldId=#{fieldId}
    </delete>

    <insert id="saveRelations">
        insert into TstCustomFieldProjectRelation
          (orgId,customFieldId,projectId,projectName,projectType)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orgId},
            #{item.customFieldId}, #{item.projectId},
            #{item.projectName}, #{item.projectType} )
        </foreach>
    </insert>

</mapper>
