<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngtesting.platform.dao.UserDao" >

    <select id="query" resultType="TstUser">
        SELECT * FROM TstUser usr

        JOIN TstOrgUserRelation r ON r.userId = usr.id

        WHERE TRUE
        <if test="keywords != null and keywords != ''">
            AND (
            usr.nickname LIKE CONCAT('%','${keywords}','%' )
            OR usr.email LIKE CONCAT('%','${keywords}','%' )
            OR usr.phone LIKE CONCAT('%','${keywords}','%' )
            )
        </if>
        <if test="disabled != null">
            AND usr.disabled = #{disabled}
        </if>

        AND r.orgId = #{orgId}
        AND usr.deleted != TRUE
        ORDER BY usr.id ASC
    </select>

    <select id="queryByUser" resultType="TstUser">
        SELECT * FROM tstUser
    </select>

    <select id="getProjectUsers" resultType="TstUser">
        select usr.id, usr.nickname from TstUser usr
        where usr.id in
        (
            select relation1.entityId from TstProjectRoleEntityRelation relation1
                where relation1.type = 'user' AND relation1.projectId = #{prjId}
            UNION
            select relta.userId from TstOrgGroupUserRelation relta
                where relta.orgGroupId in
                (
                    select relation2.entityId from TstProjectRoleEntityRelation relation2
                        where relation2.type = 'group' AND relation2.projectId = #{prjId}
                )
        )
        ORDER by usr.id ASC
        <if test="numb != null">
            LIMIT 10
        </if>
    </select>

    <select id="get" parameterType="int" resultType="TstUser">
        SELECT * FROM TstUser WHERE id = #{id}
    </select>

    <select id="getByEmail" parameterType="string" resultType="TstUser">
        SELECT * FROM TstUser WHERE email = #{email}
        AND disabled != TRUE AND deleted != TRUE
        LIMIT 1;
    </select>
    <select id="getByEmailAndPassword" resultType="TstUser">
        SELECT * FROM TstUser WHERE email = #{email} AND password=#{password} LIMIT 1;
    </select>

    <select id="getByToken" resultType="TstUser">
        SELECT * FROM TstUser WHERE token = #{token}
        AND disabled != TRUE AND deleted != TRUE
        LIMIT 1;
    </select>
    <select id="getByPhone" resultType="TstUser">
        SELECT * FROM TstUser WHERE phone = #{phone}
        AND disabled != TRUE AND deleted != TRUE
        LIMIT 1;
    </select>

    <select id="getSalt" resultType="String">
        SELECT salt FROM TstUser WHERE id = #{id}
        AND disabled != TRUE AND deleted != TRUE
        LIMIT 1;
    </select>

    <insert id="save" parameterType="TstUser" useGeneratedKeys="true" keyProperty="id">
        insert into TstUser (email,password,nickname,phone,avatar,token,salt,
          leftSizeDesign,leftSizeExe,defaultOrgId,defaultOrgName,defaultPrjId,defaultPrjName,
          deleted,disabled,createTime)
        values (#{email},#{password},#{nickname},#{phone},#{avatar},#{token},#{temp},
          #{leftSizeDesign},#{leftSizeExe},#{defaultOrgId},#{defaultOrgName},#{defaultPrjId},#{defaultPrjName},
          #{deleted},#{disabled},#{createTime})
    </insert>

    <update id="update" parameterType="TstUser">
        UPDATE TstUser
        SET email=#{email}, nickname=#{nickname}, phone=#{phone}, disabled=#{disabled}
        WHERE id=#{id}
    </update>

    <update id="modifyProp">
        UPDATE TstUser
        SET ${prop} = #{value}, updateTime=NOW()
        WHERE id=#{id}
    </update>

    <update id="setDefaultOrg">
        UPDATE TstUser
        SET defaultOrgId=#{orgId}, defaultOrgName=#{orgName}
        WHERE id=#{id}
    </update>
    <update id="setDefaultPrj">
        UPDATE TstUser
        SET defaultPrjId=#{prjId}, defaultPrjName=#{prjName}
        WHERE id=#{id}
    </update>

    <update id="setDefaultOrgPrjToNullForDelete">
        UPDATE TstUser
        SET defaultOrgId=NULL, defaultOrgName=NULL,
            defaultPrjId=NULL, defaultPrjName=NULL
        WHERE defaultOrgId=#{orgId}
    </update>

    <update id="setLeftSize" parameterType="TstUser">
        UPDATE TstUser
        SET leftSizeDesign=#{leftSizeDesign}, leftSizeExe=#{leftSizeExe}
        WHERE id=#{id}
    </update>

    <select id="search" resultType="TstUser">
        SELECT * FROM TstUser usr
        JOIN TstOrgUserRelation r ON r.orgId = #{orgId} AND r.userId = usr.id

        WHERE TRUE
        <if test="keywords != null and keywords != ''">
            AND (
              usr.nickname LIKE CONCAT('%','${keywords}','%' )
              OR usr.email LIKE CONCAT('%','${keywords}','%' )
              OR usr.phone LIKE CONCAT('%','${keywords}','%' )
            )
        </if>
        <if test="exceptIds != null and exceptIds != ''">
            AND usr.id NOT IN #{exceptIds}
        </if>

        AND usr.deleted != TRUE
        AND usr.disabled != TRUE
        ORDER BY usr.id ASC
    </select>

</mapper>
