<div class="case-selection-inner modal-content-inner">
  <div class="modal-header">
    <h4 class="modal-title">请选择用例</h4>

    <button type="button" class="btn btn-primary confirm-btn" (click)="save()">确认</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="dismiss()">取消</button>

  </div>
  <div class="modal-body">
    <div class="cols">
      <div class="modules">
        <ztree
          [treeModel]="treeModel"
          [treeSettings]="treeSettings">
        </ztree>
      </div>

      <div class="filter">
        <div class="tree-toolbar">
          请选择过滤器
        </div>
        <div class="content">
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingType">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseType" aria-expanded="true" aria-controls="collapseOne">
                    类型
                  </a>
                </div>
              </div>

              <div id="collapseType" class="collapse" role="tabpanel" aria-labelledby="headingType">
                <div class="card-block">
                   raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingPriority">
                <div class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePriority" aria-expanded="false" aria-controls="collapseTwo">
                    优先级
                  </a>
                </div>
              </div>
              <div id="collapsePriority" class="collapse" role="tabpanel" aria-labelledby="headingPriority">
                <div class="card-block">
                  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingEstimate">
                <div class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEstimate" aria-expanded="false" aria-controls="collapseThree">
                    耗时
                  </a>
                </div>
              </div>
              <div id="collapseEstimate" class="collapse" role="tabpanel" aria-labelledby="headingEstimate">
                <div class="card-block">
                  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingCreateBy">
                <div class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateBy" aria-expanded="false" aria-controls="collapseThree">
                    创建人
                  </a>
                </div>
              </div>
              <div id="collapseCreateBy" class="collapse" role="tabpanel" aria-labelledby="headingCreateBy">
                <div class="card-block">
                  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingCreateOn">
                <div class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateOn" aria-expanded="false" aria-controls="collapseThree">
                    创建时间
                  </a>
                </div>
              </div>
              <div id="collapseCreateOn" class="collapse" role="tabpanel" aria-labelledby="headingCreateOn">
                <div class="card-block">
                  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingUpdateBy">
                <div class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseUpdateBy" aria-expanded="false" aria-controls="collapseThree">
                    更新人
                  </a>
                </div>
              </div>
              <div id="collapseUpdateBy" class="collapse" role="tabpanel" aria-labelledby="headingUpdateBy">
                <div class="card-block">
                  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingUpdateOn">
                <div class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseUpdateOn" aria-expanded="false" aria-controls="collapseThree">
                    更新时间
                  </a>
                </div>
              </div>
              <div id="collapseUpdateOn" class="collapse" role="tabpanel" aria-labelledby="headingUpdateOn">
                <div class="card-block">
                  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


