<div class="case-selection-inner modal-content-inner">
  <div class="modal-header">
    <h4 class="modal-title">请选择用例</h4>

    <button type="button" class="btn btn-primary confirm-btn" (click)="save()">确认</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="dismiss()">取消</button>

  </div>
  <div class="modal-body">
    <div class="cols">
      <div class="modules">
        <ztree
          [treeModel]="treeModel"
          [treeSettings]="treeSettings">
        </ztree>
      </div>

      <div class="filter">
        <div class="ztree-toolbar">
          <span>过滤器</span>
          <span (click)="resetFilters()" class="link">全部复位</span>
        </div>
        <div class="content">
          <form [formGroup]="form">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingType">
                  <div class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseType" aria-expanded="true" aria-controls="collapseOne">
                      特性
                    </a>
                  </div>
                </div>
                <div id="collapseType" class="collapse show" role="tabpanel" aria-labelledby="headingType">
                  <div class="card-block">

                    <div class="form-group row">
                      <label class="col-3 col-form-label">类型</label>
                      <div class="col-9">
                        <select [(ngModel)]="queryModel.type" formControlName="type" class="form-control form-control-sm" name="type">
                          <option value="functional">功能</option>
                          <option value="performance">性能</option>
                          <option value="security">安全</option>
                          <option value="other">其他</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3 col-form-label">优先级</label>
                      <div class="col-9">
                        <select [(ngModel)]="queryModel.priority" formControlName="priority" class="form-control form-control-sm" name="priority">
                          <option value=""></option>
                          <option value="1">高</option>
                          <option value="2">中</option>
                          <option value="3">低</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3 col-form-label">耗时</label>
                      <div class="col-9">
                        <select [(ngModel)]="queryModel.estimate" formControlName="estimate" class="form-control form-control-sm" name="estimate">
                          <option value=""></option>
                          <option value="0-15">少于15分钟</option>
                          <option value="15-20">15-30分钟</option>
                          <option value="30-60">30-60分钟</option>
                          <option value="60-600">大于1小时</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingCreate">
                  <div class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseCreate" aria-expanded="true" aria-controls="collapseCreate">
                      时间
                    </a>
                  </div>
                </div>
                <div id="collapseCreate" class="collapse" role="tabpanel" aria-labelledby="headingCreate">
                  <div class="card-block">
                    <div class="form-group row">
                      <label class="col-3 col-form-label">创建于</label>
                      <div class="col-9">
                        <select [(ngModel)]="queryModel.createTime" formControlName="createTime" class="form-control form-control-sm" name="createTime">
                          <option value=""></option>
                          <option value="1day">1天内</option>
                          <option value="3day">3天内</option>
                          <option value="1week">1周内</option>
                          <option value="1month">1月内</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">更新于</label>
                      <div class="col-9">
                        <select [(ngModel)]="queryModel.updateTime" formControlName="updateTime" class="form-control form-control-sm" name="updateTime">
                          <option value=""></option>
                          <option value="1day">1天内</option>
                          <option value="3day">3天内</option>
                          <option value="1week">1周内</option>
                          <option value="1month">1月内</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingUpdate">
                  <div class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseUpdate" aria-expanded="true" aria-controls="collapseUpdate">
                      用户
                    </a>
                  </div>
                </div>
                <div id="collapseUpdate" class="collapse" role="tabpanel" aria-labelledby="headingUpdate">
                  <div class="card-block">
                    <div class="form-group row">
                      <label class="col-3 col-form-label">创建</label>
                      <div class="col-9">
                        <select [(ngModel)]="queryModel.createUser" formControlName="createUser" class="form-control form-control-sm" name="createUser">
                          <option value=""></option>
                          <option value="-1">张三</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">更新</label>
                      <div class="col-9">
                        <select [(ngModel)]="queryModel.updateUser" formControlName="updateUser" class="form-control form-control-sm" name="updateUser">
                          <option value=""></option>
                          <option value="-1">张三</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


