<div class="case-selection-inner modal-content-inner">
  <div class="modal-header">
    <h4 class="modal-title">请选择用例</h4>

    <button type="button" class="btn btn-primary confirm-btn" (click)="save()">确认</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="dismiss()">取消</button>

  </div>
  <div class="modal-body">
    <div class="cols">
      <div class="modules">
        <ztree
          [treeModel]="treeModel"
          [treeSettings]="treeSettings">
        </ztree>
      </div>

      <div class="filter">
        <div class="ztree-toolbar">
          <span>请选择过滤器</span>
          <span (click)="reset()" class="link">复位</span>
        </div>
        <div class="content">
          <form [formGroup]="form">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingType">
                  <div class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseType" aria-expanded="true" aria-controls="collapseOne">
                      特性
                    </a>
                  </div>
                </div>
                <div id="collapseType" class="collapse show" role="tabpanel" aria-labelledby="headingType">
                  <div class="card-block">

                    <div class="form-group row">
                      <label class="col-3 col-form-label">类型</label>
                      <div class="col-9">
                        <input formControlName="type" [(ngModel)]="queryModel.type" name="type" #type class="form-control form-control-sm" type="text">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3 col-form-label">优先级</label>
                      <div class="col-9">
                        <input formControlName="priority" [(ngModel)]="queryModel.priority" name="priority" #priority class="form-control form-control-sm" type="text">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3 col-form-label">耗时</label>
                      <div class="col-9">
                        <input formControlName="estimate" [(ngModel)]="queryModel.estimate" name="estimate" #priority class="form-control form-control-sm" type="text">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingCreate">
                  <div class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseCreate" aria-expanded="true" aria-controls="collapseCreate">
                      时间
                    </a>
                  </div>
                </div>
                <div id="collapseCreate" class="collapse" role="tabpanel" aria-labelledby="headingCreate">
                  <div class="card-block">
                    <div class="form-group row">
                      <label class="col-3 col-form-label">创建</label>
                      <div class="col-9">
                        <input formControlName="createTime" [(ngModel)]="queryModel.createTime" name="createTime" #priority class="form-control form-control-sm" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">更新</label>
                      <div class="col-9">
                        <input formControlName="updateTime" [(ngModel)]="queryModel.updateTime" name="updateTime" #priority class="form-control form-control-sm" type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingUpdate">
                  <div class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseUpdate" aria-expanded="true" aria-controls="collapseUpdate">
                      用户
                    </a>
                  </div>
                </div>
                <div id="collapseUpdate" class="collapse" role="tabpanel" aria-labelledby="headingUpdate">
                  <div class="card-block">
                    <div class="form-group row">
                      <label class="col-3 col-form-label">创建</label>
                      <div class="col-9">
                        <input formControlName="createUser" [(ngModel)]="queryModel.createUser" name="createUser" #priority class="form-control form-control-sm" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">更新</label>
                      <div class="col-9">
                        <input formControlName="updateUser" [(ngModel)]="queryModel.updateUser" name="updateUser" #priority class="form-control form-control-sm" type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


