.case-selection-inner {
  .modal-body{
    .cols{
      display: flex;
      border: 1px solid #ddd;
      height: 100%;
      .modules {
        width: 200px;
        background: #ebebeb;
      }
      .list {
        flex: 1;
      }
      .filter {
        width: 200px;
      }
    }
  }
}
