.plan-view {
  .list-toolbar .title, .edit-toolbar .title {
    font-size: 16px;
  }
  .col-sm-6 {
    padding: 0;
  }

  .plan-detail {
    margin-top: 10px;
  }

  .run-list {
    padding: 0px;
  }
}

