.project-edit {
  padding: 15px;

  .tab-bottom-space {

  }

  .form-add {

  }
  .table-container {
    margin-top: 20px;
    th.role {
      width: 300px;
    }
    select {
      width: 100px;
    }
  }
}
